{% extends 'order-manager/layouts/base.html' %}
{% load static %}

{% block content %}
  <div id="table_manager" class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-2">
    <div class="d-block mb-4 mb-md-0">
      <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
        <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
          <li class="breadcrumb-item">
            <a href="{% url 'dashboard' %}">
              <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6">
                </path>
              </svg>
            </a>
          </li>
          <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Trang chủ</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{segment}}</li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="table-settings mb-3">
    <div class="row align-items-start justify-content-between">
      <div class="col-6">
        <label for="is_paid_filter">Tìm kiếm theo sản phẩm</label>
        <div class="col d-flex">
          <div class="input-group me-2 me-lg-3 fmxw-400">
            <span class="input-group-text">
              <svg class="icon icon-xs" x-description="Heroicon name: solid/search" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd"
                  d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                  clip-rule="evenodd"></path>
                </svg>
            </span>
            <input id="search_pr_ware" type="text" class="form-control search-border-input" value="{{data.params.search}}" placeholder="Tìm kiếm sản phẩm">
          </div>
          <button onclick="onSearchProductWare()" class="btn btn-outline-primary">Tìm kiếm</button>
        </div>
      </div>
      <div class="col-2 pe-4">
        <label for="is_paid_filter">Thống kê theo</label>
        <select onchange="onSearchByDate()" class="form-select mb-0" id="by_date_ware" aria-label="Gender select example">
          <option value="1" {% if is_select == 1  %}selected{% endif %} >Hôm nay</option>
          <option {% if is_select == "2" %}selected{% endif %} value="2">Tháng nay</option>
          <option {% if is_select == "3" %}selected{% endif %} value="3">Tất cả</option>
        </select>
      </div>
    </div>
  </div>
  <h2 class="h4 text-uppercase">Thống kê</h2>
  <div class="card card-body border-0 shadow table-wrapper table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="border-gray-200">#</th>
          <th class="border-gray-200">Sản phẩm</th>
          <th class="border-gray-200">Số lượng bán</th>
          <th class="border-gray-200">Tỷ lệ bán (%)</th>
          <th class="border-gray-200">Tồn kho</th>
          <th class="border-gray-200 text-center">Hành động</th>
        </tr>
      </thead>
      <tbody>
        {% for item in data %}
         <tr>
          <td>
            <span class="fw-normal"> {{ forloop.counter }}</span>
          </td>

          <td>
            <span class="fw-normal"> {{ item.product__title }}</span>
          </td>

          <td>
            <span class="fw-normal"> {{ item.total }} </span>
          </td>

          <td>
            <span class="fw-normal"> {{ item.rate |floatformat:2 }} (%)</span>
          </td>

          <td>
            <span class="fw-normal"> {{ item.product__inventory }}</span>
          </td> 

          <td class="d-flex align-items-center justify-content-center">
            <button class="btn btn-info mx-1" 
            onclick="enterNumberProduct('{{item.product_id}}','{{ item.product__title }}', '{{ item.product__inventory }}')"
            type="button" data-bs-toggle="modal" data-bs-target="#ware_modal">
              Nhập kho
            </button>
          </td>
         </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
<!-- Modal -->
<div class="modal fade" id="ware_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="text-center w-100 fs-4 text-dark" id="ware_modal_label"></div>
      </div>
      <div class="modal-body mb-4" id = "ware_content">
        <input id = "id_product_ware" type="number" hidden>
        <input id ="inventory_product_ware" type="number" hidden>
        <label>Số lượng nhập kho:</label> <br>
        <input id = "number_product_ware" type="number" class="form-control">
      </div>
      <div class="modal-footer">
        <button type="button" style="width: 96px;" class="btn btn-secondary" data-bs-dismiss="modal">Thoát</button>
        <button onclick="updateInventory()" style="width: 96px;" type="button" class="btn btn-primary">
          Xác nhận
      </button>
      </div>
    </div>
  </div>
</div>
  
{% endblock content %}

{% block extra_js %}
  <script>
   function enterNumberProduct(id, name, inventory) {
      $('#ware_modal_label').html(name)
      $('#id_product_ware').val(id)
      $('#inventory_product_ware').val(inventory)
   }
   function updateInventory() {
      let value = $('#number_product_ware').val()? $('#number_product_ware').val(): 0;
      let inventory = parseInt($('#inventory_product_ware').val()) + parseInt(value);
      let id = $('#id_product_ware').val();
      let formData = new FormData()
      formData.append('inventory', inventory)
      $.ajax({
        url: `/order-api/products/${id}/`,
        type: 'PATCH',
        data: formData,
        beforeSend: function(xhr) {
            xhr.setRequestHeader("X-CSRFToken", "{{csrf_token}}");
        },
        processData: false,
        contentType: false,
        mimeType: "multipart/form-data",
        success: function (result) {
          notyf.open({
            type: 'success',
            message: 'Nhập kho thành công.',
            duration: 3000
          });
          setTimeout(() => {
            window.location.reload();
          }, 1000)
        },
        error: function (error) {
          $("#processing").hide();
          notyf.open({
            type: 'error',
            message: 'Xảy ra lỗi, vui lòng thử lại.',
            duration: 3000
          });
        }
      });
   }
   function onSearchProductWare() {
      const queryString = window.location.search;
      const urlParams = new URLSearchParams(queryString);
      const searchText = $('#search_pr_ware').val()
      urlParams.set('search', searchText)
      const path = window.location.pathname;
      window.location.assign(`?${urlParams.toString()}`)
    }

    function onSearchByDate() {
      const queryString = window.location.search;
      const urlParams = new URLSearchParams(queryString);
      during = $('#by_date_ware').val();
      urlParams.set('during_date', during)
      const path = window.location.pathname;
      window.location.assign(`?${urlParams.toString()}`)
      console.log(during);
    }
  </script>
{% endblock %}