{% extends 'order-manager/layouts/base.html' %}
{% load static %}
{% block content %}

<!-- Section -->
{% if messages %}
  {% for message in messages %}
  <span id="message" data-message="{{message}}"></span>
  {% endfor %}
{% endif %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-2">
  <div class="d-block mb-4 mb-md-0">
    <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
      <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
        <li class="breadcrumb-item">
          <a href="{% url 'dashboard' %}">
            <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6">
              </path>
            </svg>
          </a>
        </li>
        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Trang chủ</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{segment}}</li>
      </ol>
    </nav>
  </div>
</div>
<section class="mt-5 mt-lg-0 bg-soft flex-column align-items-start py-2">
  <h2 class="h4 mb-4 text-uppercase">Thêm mới đơn hàng</h2>
  <div class="row">
    <div class="col-12 col-xl-7 mb-4 mb-xl-0">
      <div class="card card-body border-0 shadow h-100">
        <h2 class="h5 mb-4">Thông tin đơn hàng</h2>
        <form method="" class="mt-4"id="order_form">
          {% csrf_token %}
          <div class="row">
            {{ form.store_operate }}
            {{ form.customer }}
            <div class="col-md-6 mb-3">
              <div>
                <label for="{{ form.order_type.id_for_label }}">{{form.order_type.label}}:</label>
                <div class="p-3 bg-gray-100 rounded">
                  {{ form.order_type }}
                </div>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <div>
                <label for="{{ form.discount.id_for_label }}">{{form.discount.label}}:</label>
                {{ form.discount }}
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <div>
                <label for="{{ form.pay_type.id_for_label }}">{{form.pay_type.label}}:</label>
                <div class="p-3 bg-gray-100 rounded">
                  {{ form.pay_type }}
                </div>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <div>
                <label for="{{ form.status.id_for_label }}">{{form.status.label}}:</label>
                {{ form.status }}
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <div class="d-flex flex-column">
                <label for="{{ form.is_paid.id_for_label }}">{{form.is_paid.label}}:</label>
                <div class="form-check form-switch">
                  {{ form.is_paid }}
                </div>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <div class="d-flex flex-column">
                <div class="float-end mt-4">
                  <div class="d-flex justify-content-between mb-2">
                    <span class="text-gray">Tổng:</span><span class="fw-bold" id="total_price">0 đ</span>
                  </div>
                  <div class="d-flex justify-content-between mb-2">
                    <span class="text-gray">Giảm giá:</span><span class="fw-bold" id="discount_price">0 đ</span>
                  </div>
                  <div class="d-flex justify-content-between mb-2">
                    <span class="text-gray fs-4">Thanh toán:</span><span class="fw-bold fs-4 text-danger" id="total_payment">0 đ</span>
                  </div>
              </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-12 col-xl-5">
      <div class="card card-body border-0 shadow h-100">
        <div class="d-flex align-items-center justify-content-between border-2 border-bottom pb-4">
          <h2 class="h5">Danh sách món<span id="products_count"></span></h2>
          <button class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#modal-select-product">+ Thêm món</button>
        </div>
        <div id="product_list" class="product-list py-3">
          Chưa có món được chọn
        </div>
      </div>
  </div>
  <div>
    <div class="d-flex justify-content-end gap-4 my-4">
      <a href="{% url 'orders' %}">
      <div class="btn btn-outline-tertiary">
          Trở lại
        </div>
      </a>
      <button type="button" class="btn btn-primary d-flex align-items-center" onclick="createOrder()">
        <svg style="height: 20px;" class="dropdown-icon text-white me-2" fill="white" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path d="M9 2a1 1 0 000 2h2a1 1 0 100-2H9z"></path>
          <path fill-rule="evenodd" d="M4 5a2 2 0 012-2 3 3 0 003 3h2a3 3 0 003-3 2 2 0 012 2v11a2 2 0 01-2 2H6a2 2 0 01-2-2V5zm3 4a1 1 0 000 2h.01a1 1 0 100-2H7zm3 0a1 1 0 000 2h3a1 1 0 100-2h-3zm-3 4a1 1 0 100 2h.01a1 1 0 100-2H7zm3 0a1 1 0 100 2h3a1 1 0 100-2h-3z" clip-rule="evenodd"></path>
        </svg>
        Tạo đơn hàng
      </button>
    </div>
  </div>
  <div class="modal fade" id="modal-select-product" tabindex="-1" role="dialog" aria-labelledby="modal-select-product" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h2 class="h4 modal-title">Thêm món</h2>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="mt-4">
                  <div class="row row-cols-1 row-cols-md-3 row-cols-xl-4 g-3 items">
                    {% for product in products %}
                      <div class="col">
                        <div href="{% url 'product_edit' %}?id={{product.id}}">
                          <div class="card shadow hover h-100">
                              <img class="card-img-top object-cover" height="150" alt="Product Image" src="/media/{{product.thumbnail}}" />
                            <div class="card-body p-2">
                              <h6 class="card-title text-truncate mb-0">{{product.title}}</h6>
                              <div class="d-flex justify-content-between">
                                <span class="text-info fst-italic fs-7">{{product.category}}</span>
                                <span class="text-danger fw-bold fs-7 float-end">{{product.price|floatformat:"2g"}}</span>
                              </div>
                              <div class="mt-2 d-flex justify-content-between">
                                <button onclick="addProduct('{{product.id}}')" class="btn btn-outline-primary w-100">Thêm</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
          </div>
      </div>
  </div>
</section>

{% endblock content %}
{% block extra_js %}
  <script>
    let orderItems = new Map();
    const productsSerialize = JSON.parse('{{productsSerialize}}'.replace(/&quot;/g,'"'));
    const discountsSerialize = JSON.parse('{{discountsSerialize}}'.replace(/&quot;/g,'"'));

    function renderOrderItems () {
      updateBill();
      const stringHtml = Array.from(orderItems.values()).map(item =>
        `<div class="product-item bg-gray-100">
            <div class="thumbnail">
              <img src="/media/${item.product.fields.thumbnail}" alt="logo">
            </div>
            <div class="info">
              <div class="title">${item.product.fields.title}</div>
              <div class="note">Note: ${item.note}</div>
              <div class="quantity">Số lượng: <strong>${item.quantity}</strong></div>
              <div class="total">
                Giá: <strong>
                  ${(item.quantity*item.product.fields.price).toLocaleString('vi-VN', {
                    style: 'currency',
                    currency: 'VND',
                  })}
                </strong></div>
              <div class="d-flex justify-content-end gap-2 position-absolute bottom-0 end-0 p-2">
                <button class="btn btn-outline-primary">
                  <svg xmlns="http://www.w3.org/2000/svg" height="24px" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="dropdown-icon" >
                    <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
                  </svg>

                </button>
                <button onclick="deleteProduct('${item.product.pk}')" type="button" class="btn btn-outline-danger d-flex align-items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" height="24px" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="dropdown-icon" >
                    <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                  </svg>

                </button>
              </div>
            </div>
          </div>`).join('')
      $('#product_list').html(orderItems.size ? stringHtml : 'Chưa có món được chọn');
      $('#products_count').html(`(${orderItems.size})`)
    }

    function addProduct(productId) {
      if (orderItems.has(+productId)) {
        const item = orderItems.get(+productId);
        item.quantity++;
      } else {
        const product = productsSerialize.find(pr => pr.pk === +productId);
        orderItems.set(+productId, { product: product, quantity: 1, note: '' });
      }
      renderOrderItems();
    }

    function deleteProduct(productId) {
      orderItems.delete(+productId)
      renderOrderItems()
    }
    function onDiscountChange() {
      updateBill()
    }
    function updateBill() {
      const formValues = $("form").serializeArray()
      const total = Array.from(orderItems.values()).map(item => item.quantity*item.product.fields.price).reduce((a,b) => a+b,0)
      let discountPrice = 0;
      const discountId = formValues.find(it => it.name === "discount").value
      if (discountId) {
        discountPrice = (discountsSerialize.find(dc => dc.pk === +discountId).fields.discount / 100 * total)
      }
      const payPrice = total - discountPrice;
      $('#total_price').html(total.toLocaleString('vi-VN', {
        style: 'currency',
        currency: 'VND',
      }))
      $('#discount_price').html('-'+ discountPrice.toLocaleString('vi-VN', {
        style: 'currency',
        currency: 'VND',
      }))
      $('#total_payment').html(payPrice.toLocaleString('vi-VN', {
        style: 'currency',
        currency: 'VND',
      }))
    }
        
    const createOrder = () => {
      // call api create order and payment
      $("#processing").show();
      let formData = new FormData(document.querySelector('#order_form'))
      formData.append('items', JSON.stringify(Array.from(orderItems.values()).map(item => ({...item ,id: item.product.pk}))))
      const crf_token = $('[name="csrfmiddlewaretoken"]').attr('value');
      const dataPost = {
        async: true,
        crossDomain: true,
        processData: false,
        contentType: false,
        headers: { "X-CSRFToken": crf_token },
        mimeType: "multipart/form-data",
        url: `/order-api/create-order/`,
        method: "POST",
        data: formData,
      };
      $.ajax(dataPost).done(function (response) {
        
        notyf.open({
          type: 'success',
          message: "Tạo đơn hàng thành công",
          duration: 3000
        });
        setTimeout(() => {
          $("#processing").hide();
          window.location.assign(`/order-manager/order-detail?id=${JSON.parse(response)?.data?.id}`)
        }, 1000)
      }).fail(function (e) {
        $("#processing").hide();

          notyf.open({
            type: 'error',
            message: JSON.parse(e.responseText).message,
            duration: 3000
          });
      });
    }

    $(document).ready(function() {
      $("#id_thumbnail").val('');
      $('#id_thumbnail').change(function(e) {
        $('#thumbnail_image').attr('src', URL.createObjectURL(e.target.files[0]))
      })
      const messageText = $('#message').attr('data-message')
      if (messageText) {
        notyf.open({
          type: 'success',
          message: messageText,
          duration: 3000
        });
      }
      $('#message').remove();
    })

  </script>
{% endblock%}