{% extends 'order-manager/layouts/base.html' %}
{% load static %}

{% block content %}

  <div id="order_manager" class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-2">
    <div class="d-block mb-4 mb-md-0">
      <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
        <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
          <li class="breadcrumb-item">
            <a href="{% url 'dashboard' %}">
              <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6">
                </path>
              </svg>
            </a>
          </li>
          <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Trang chủ</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{segment}}</li>
        </ol>
      </nav>
    </div>
  </div>
  <h2 class="h4 mb-4 text-uppercase">Thông tin đơn hàng : <span class="text-info">{{order.store_operate.slug}}{{order.id}}</span></h2>
  <div class="table-settings mb-2">
    <div class="row order-steps align-items-center justify-content-center gap-2 mb-4">
      <div class="order-step step-1 {% if order.status in 'pending,confirmed,serving,finished' %}pass{% endif %}">
        <svg width="40" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M15.042 21.672L13.684 16.6m0 0l-2.51 2.225.569-9.47 5.227 7.917-3.286-.672zM12 2.25V4.5m5.834.166l-1.591 1.591M20.25 10.5H18M7.757 14.743l-1.59 1.59M6 10.5H3.75m4.007-4.243l-1.59-1.59" />
        </svg>        
        <span>Chờ xử lý</span>
      </div>
      <div class="order-step {% if order.status in 'confirmed,serving,finished' %}pass{% endif %}">
        <svg width="40" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 01-1.043 3.296 3.745 3.745 0 01-3.296 1.043A3.745 3.745 0 0112 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 01-3.296-1.043 3.745 3.745 0 01-1.043-3.296A3.745 3.745 0 013 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 011.043-3.296 3.746 3.746 0 013.296-1.043A3.746 3.746 0 0112 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 013.296 1.043 3.746 3.746 0 011.043 3.296A3.745 3.745 0 0121 12z" />
        </svg>        
        <span>Đã xác nhận</span>
      </div>
      <div class="order-step {% if order.status in 'serving,finished' %}pass{% endif %}">
        <svg width="40" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" d="M15.362 5.214A8.252 8.252 0 0112 21 8.25 8.25 0 016.038 7.048 8.287 8.287 0 009 9.6a8.983 8.983 0 013.361-6.867 8.21 8.21 0 003 2.48z" />
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 18a3.75 3.75 0 00.495-7.467 5.99 5.99 0 00-1.925 3.546 5.974 5.974 0 01-2.133-1A3.75 3.75 0 0012 18z" />
        </svg>
        <span>Đang phục vụ</span>
      </div>
      <div class="order-step {% if order.status in 'finished' %}pass{% endif %}">
        <svg width="40" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M10.125 2.25h-4.5c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125v-9M10.125 2.25h.375a9 9 0 019 9v.375M10.125 2.25A3.375 3.375 0 0113.5 5.625v1.5c0 .621.504 1.125 1.125 1.125h1.5a3.375 3.375 0 013.375 3.375M9 15l2.25 2.25L15 12" />
        </svg>        
        <span>Hoàn tất</span>
      </div>
    </div>
  </div>
  <div class="d-flex align-items-center gap-3">
    {% if order.status in 'pending, confirmed, serving' %}
    <div class="">Xử lý đơn</div>
    {% endif %}
    {% if order.status == 'cancelled' %}
      <div class="text-danger fw-bold d-flex align-items-center bg-white border-danger border-3 rounded-2 p-2 btn dashed-outline fs-6">
        <svg width="50" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" d="M18.364 18.364A9 9 0 005.636 5.636m12.728 12.728A9 9 0 015.636 5.636m12.728 12.728L5.636 5.636"></path>
        </svg>
        <span>
          Đơn hàng đã bị hủy
        </span>
      </div>
    {% endif %}
    {% if order.status == 'finished' %}
      <div class="text-success fw-bold d-flex align-items-center bg-white border-success border-3 rounded-2 p-2 btn dashed-outline fs-6"><svg width="50" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" d="M10.125 2.25h-4.5c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125v-9M10.125 2.25h.375a9 9 0 019 9v.375M10.125 2.25A3.375 3.375 0 0113.5 5.625v1.5c0 .621.504 1.125 1.125 1.125h1.5a3.375 3.375 0 013.375 3.375M9 15l2.25 2.25L15 12"></path>
      </svg><span class="text-uppercase">
        Đơn hàng đã hoàn tất
      </span>
    </div>
    {% endif %}
    {% if order.status == 'pending' %}
      <button 
        onclick="onUpdateOrderStatus('confirmed')"
        class="btn btn-info">
        Xác nhận
      </button>
      <button 
        onclick="onUpdateOrderStatus('cancelled')"
        class="btn btn-danger ">
      Từ chối
      </button>
    {% endif %}
    {% if order.status == 'confirmed' %}
      <button 
        onclick="onUpdateOrderStatus('serving')"
        class="btn btn-info">
      Sẵn sàng để phục vụ
      </button>
      
      <button 
        onclick="onUpdateOrderStatus('cancelled')"
        class="btn btn-danger">
        Hủy bỏ
      </button>
    {% endif %}
    {% if order.status == 'serving' %}
      <button 
        onclick="onUpdateOrderStatus('finished')"
        class="btn btn-info">
      Hoàn tất đơn hàng
      </button>
    {% endif %}
  </div>
  <div class="d-flex align-items-center gap-3 mt-3">
    <div class="">Trạng thái thanh toán</div>
    <div class="form-check form-switch">
      <input onchange="confirmUpdate('is_paid','{{order.is_paid}}')" class="form-check-input" type="checkbox" {% if order.is_paid %}checked{% endif %}>
    </div>
  </div>
  <div class="row mt-4 g-3">
    <div class=" col-12 col-md-8">
      <div class="bg-white card-body border border-2 rounded-2 shadow table-wrapper table-responsive h-100">
        <h5>Thông tin món</h5>
        <table class="table table-hover">
          <thead class="text-center">
            <tr>
              <th class="border-gray-200">#</th>
              <th class="border-gray-200">Sản phẩm</th>
              <th class="border-gray-200">Số lượng</th>
              <th class="border-gray-200">Giá</th>
              <th class="border-gray-200">Thành tiền</th>
              <th class="border-gray-200">Ghi chú</th>
            </tr>
          </thead>
          <tbody>
            <!-- Items -->
            {% for item in order.order_items %}
              <tr class="text-center">
                <td>
                  <img class="object-cover" height="32px" width="32px" alt="Product Image" src="{{item.product.thumbnail}}" />
                </td>
                <td>
                  <span class="fw-bold"> {{item.product.title}}</span>
                </td>
                <td>
                  <a href="#" class="fw-bold">
                    {{item.amount}} 
                  </a>
                </td>
                <td>
                  <span class="fw-normal"> {{item.product.price|floatformat:"0g"}}</span>
                </td>
                <td>
                  <span class="fw-normal"> {% widthratio item.product.price 1 item.amount as item_price %}{{item_price|floatformat:"0g"}}</span>
                </td>
                <td>
                  <span class="fw-normal"> {{ item.product.note }}</span>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <div class="col-12 col-md-6 float-end mt-4">
          <div class="d-flex justify-content-between mb-2">
            <span class="text-gray">Tổng:</span><span class="fw-bold">{{order.total|floatformat:"0g"}} VNĐ</span>
          </div>
          <div class="d-flex justify-content-between mb-2">
            <span class="text-gray">Giảm giá:</span><span>
              {% if order.discount %}
                {% widthratio order.total 100 order.discount.discount as discount_price %}{{discount_price|floatformat:"0g"}} VNĐ
              {% endif %}
              {% if not order.discount %}
                0 VNĐ
              {% endif %} 
            </span>
          </div>
          <div class="d-flex justify-content-between mb-2">
            <span class="text-gray">Thanh toán:</span><span class="fw-bold fs-4 text-danger">
              {% if order.discount %}
                {% widthratio discount_price -1 1 as sub_discount_price %}{{order.total|add:sub_discount_price|floatformat:"0g"}} VNĐ
              {% endif %}
              {% if not order.discount %}
                {{order.total|floatformat:"0g"}} VNĐ
              {% endif %}
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 ">
      <div class="bg-white card-body border border-2 shadow rounded-2 h-100">
        <h5 class="">Thông tin đơn hàng</h5>
        <div class="d-flex justify-content-between mb-1">
          <span class="text-gray">Thời gian đặt:</span><span>{{order.created_at}}</span>
        </div>
        <div class="d-flex justify-content-between mb-1">
          <span class="text-gray">Cập nhật:</span><span>{{order.updated_at}}</span>
        </div>
        <div class="d-flex justify-content-between mb-1">
          <span class="text-gray">Người đặt:</span>
          <span class="text-info">
            {% if order_object.customer.role == order_object.customer.STORE_MANAGER %}
              Nhân viên
            {% endif %}
            {% if order_object.customer.role == order_object.customer.CUSTOMER %}
              Khách hàng
            {% endif %}
          </span>
        </div>
        <div class="d-flex justify-content-between mb-1">
          <span class="text-gray">Bàn:</span><span class="text-info">{{order_object.table.name}}</span>
        </div>
        <div class="d-flex justify-content-between mb-1">
          <span class="text-gray">Loại đơn:</span><span> {{ORDER_TYPE_CHOICES|get_choices_field_label:order.order_type}}</span>
        </div>
        <div class="d-flex justify-content-between mb-1">
          <span class="text-gray">Hình thức thanh toán:</span><span>{{PAY_TYPE_CHOICES|get_choices_field_label:order.pay_type}}</span>
        </div>
        <div class="d-flex justify-content-between mb-1">
          {% if not order.is_paid %}
          <span class="text-gray">Trạng thái:</span><span class="text-danger fw-bold">Chưa thanh toán</span>
          {% endif %}
          {% if order.is_paid %}
          <span class="text-gray">Trạng thái:</span><span class="text-success fw-bold">Đã thanh toán</span>
          {% endif %}
        </div>
        <h5 class="mt-4">Khách hàng</h5>
        <div class="d-flex justify-content-between mb-1">
          <span class="text-gray">Tên:</span><span class="text-info">{{order.customer.username}}</span>
        </div>
        <div class="d-flex justify-content-between mb-1">
          <span class="text-gray">Email:</span><span>{{order.customer.email}}</span>
        </div>
        <div class="d-flex justify-content-between mb-1">
          <span class="text-gray">Số ĐT:</span><span>{{order.customer.phone_number}}</span>
        </div>
        <div class="d-flex justify-content-between mb-1">
          <span class="text-gray">Địa chỉ</span><span></span>
        </div>
      </div>
    </div>
    <input id="store_id" type="text" value="{{ order.store_operate.id }}" hidden>
    <input id="table_id" type="text" value="{{ order.table.id }}" hidden>
</div>

{% endblock content %}

{% block extra_js %}
  <script>
    const  storeId = document.getElementById('store_id').value;
    const tableId = document.getElementById('table_id').value? document.getElementById('table_id').value : 0;
    const productOrders = "{{ order.order_items }}";
    
    const chatSocket_to_app = new WebSocket(
              'ws://'
              + window.location.host
              + '/test-socket/'
              + storeId
              +'/'
              + tableId
              +'/'
          );
    let queryString = window.location.search;
    let urlParams = new URLSearchParams(queryString);

    function onUpdateOrderStatus (status) {
      $("#processing").show();
      const orderId = urlParams.get('id')
      let formData = new FormData()
      formData.append('status', status)
      $.ajax({
        url: `/order-api/orders/${orderId}/`,
        type: 'PATCH',
        data: formData,
        beforeSend: function(xhr) {
            xhr.setRequestHeader("X-CSRFToken", "{{csrf_token}}");
        },
        processData: false,
        contentType: false,
        mimeType: "multipart/form-data",
        success: function (result) {

          let store = JSON.parse(result)['store_operate']['id']
          let table = JSON.parse(result)['table']?JSON.parse(result)['table']['id'] : 0
          

          chatSocket_to_app.send(JSON.stringify({
                'message': `update status success`,
                'type': 'order_at_app',
                'status': status,
                'order_id': orderId,
                'table': JSON.parse(result)['table']?JSON.parse(result)['table']['id'] : 0,
                'store': JSON.parse(result)['store_operate']['id']
            }));
          notyf.open({
            type: 'success',
            message: 'Cập nhật đơn hàng thành công.',
            duration: 3000
          });
          if(status.toLowerCase() == 'finished') {
            updateInventory();
          }
          setTimeout(() => {
            $("#processing").hide();
            window.location.reload();
          }, 1100)
        },
        error: function (error) {
          $("#processing").hide();
          notyf.open({
            type: 'error',
            message: 'Xảy ra lỗi, vui lòng thử lại.',
            duration: 3000
          });
        }
      });
    }

    function updateInventory() {
      const orderProducts = [
      {% for item in order.order_items %}
        {'id': "{{item.product.id }}",
         'title': "{{item.product.title }}",
         'inventory': "{{item.product.inventory }}",
         'amount': "{{ item.amount }}"
        },
      {% endfor %}
      ]
      let formData = new FormData()
      formData.append('list_orders', JSON.stringify(orderProducts))
      const dataPost = {
        async: true,
        crossDomain: true,
        processData: false,
        contentType: false,
        beforeSend: function(xhr) {
            xhr.setRequestHeader("X-CSRFToken", "{{csrf_token}}");
        },
        mimeType: "multipart/form-data",
        url: `/order-api/update-eventory/`,
        method: "POST",
        data: formData,
      };
      $.ajax(dataPost).done(function (response) {
        notyf.open({
          type: 'success',
          message: "Đồng bộ tồn kho thành công",
          duration: 2000
        });
      }).fail(function (e) {
        $("#processing").hide();

          notyf.open({
            type: 'error',
            message: "Fail",
            duration: 2000
          });
      });
    }


    function confirmUpdate(field, value) {
      swalWithBootstrapButtons.fire({
        icon: 'warning',
        title: 'Cập nhật thông tin đơn hàng',
        text: `Bạn chắc chắn muốn cập nhật thông tin đơn hàng?`,
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Đồng ý'
      }).then((result) => {
        if (result.isConfirmed) {
          if (field= 'is_paid') {
            onUpdatePaymentStatus(value)
          }
        } else {
          window.location.reload();
        }
      })
    }
    function onUpdatePaymentStatus (value) {
      $("#processing").show();

      const nextStatus = value == 'False'
      const orderId = urlParams.get('id')
      let formData = new FormData()
      formData.append('is_paid', nextStatus)
      $.ajax({
        url: `/order-api/orders/${orderId}/`,
        type: 'PATCH',
        data: formData,
        beforeSend: function(xhr) {
            xhr.setRequestHeader("X-CSRFToken", "{{csrf_token}}");
        },
        processData: false,
        contentType: false,
        mimeType: "multipart/form-data",
        success: function (result) {
          notyf.open({
            type: 'success',
            message: 'Cập nhật thông tin đơn hàng thành công.',
            duration: 3000
          });
          setTimeout(() => {
            window.location.reload();
          }, 1000)
        },
        error: function (error) {
          $("#processing").hide();
          notyf.open({
            type: 'error',
            message: 'Xảy ra lỗi, vui lòng thử lại.',
            duration: 3000
          });
        }
      });
    } 
    chatSocket_to_app.onclose = function(e) {
       console.error('Chat socket to app closed unexpectedly');
   };
  </script>
{% endblock %}