{% extends 'order-manager/layouts/base.html' %}
{% load static %}

{% block content %}

  <div id="order_manager" class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-2">
    <div class="d-block mb-4 mb-md-0">
      <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
        <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
          <li class="breadcrumb-item">
            <a href="{% url 'dashboard' %}">
              <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6">
                </path>
              </svg>
            </a>
          </li>
          <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Trang chủ</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{segment}}</li>
        </ol>
      </nav>
    </div>
    <div class="btn-toolbar mb-2 mb-md-0">
      <a href="{% url 'order_add' %}" class="btn btn-primary d-inline-flex align-items-center">
        <svg class="icon icon-xs me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
        </svg>
        Thêm mới
      </a>
    </div>
  </div>
  <div class="table-settings mb-2">
    <div class="row align-items-center justify-content-between">
      <div class="col-12 col-md-6 d-flex mb-2">
        <div class="row">
          <label class="col-12">Tìm kiếm theo người mua/mã đơn hàng</label>
          <div class="input-group me-2 me-lg-3 fmxw-400">
            <span class="input-group-text">
              <svg class="icon icon-xs" x-description="Heroicon name: solid/search" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd"
                  d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                  clip-rule="evenodd"></path>
              </svg>
            </span>
            <input id="search_customer" type="text" class="form-control search-border-input" value="{{data.params.search}}" placeholder="Tên người mua/mã đơn hàng">
            <button onclick="onSearchOrder()" class="btn btn-outline-primary search-border-input">Tìm kiếm</button>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-3">
        <label for="is_paid_filter">Trạng thái thanh toán</label>
        <select onchange="onSearchOrder()" class="form-select mb-0" id="is_paid_filter" aria-label="Gender select example">
          <option value="" {% if is_paid == "" %}selected{% endif %} >Tất cả</option>
          <option {% if is_paid == "1" %}selected{% endif %} value="1">Đã thanh toán</option>
          <option {% if is_paid == "0" %}selected{% endif %} value="0">Chưa thanh toán</option>
        </select>
      </div>
      <div class="col-12 col-md-3">
        <label for="order_type_filter">Loại đơn hàng</label>
        <select onchange="onSearchOrder()" class="form-select mb-0" id="order_type_filter" aria-label="Gender select example">
          <option value="" {% if order_type == "" %}selected{% endif %} >Tất cả</option>
          <option {% if order_type == "onsite" %}selected{% endif %} value="onsite">Phục vụ tại chỗ</option>
          <option {% if order_type == "delivery" %}selected{% endif %} value="delivery">Giao hàng</option>
        </select>
      </div>
    </div>
  </div>
  <h2 class="h4 text-uppercase">Danh sách đơn hàng</h2>
  <p class="mb-2">Hiển thị kết quả từ {{data.from}} đến {{data.to}} trên tổng <strong class="text-primary">{{data.total}}</strong> kết quả.</p>
  <div class="mb-2 d-flex flex-wrap gap-2" id="status_filter">
    <button 
      onclick="onSearchOrderByStatus('')"
      class="text-uppercase lh-lg btn btn-pill {% if status != '' %}btn-white{% endif %} {% if status == '' %}btn-info{% endif %} px-5 py-2" type="button">
      Tất cả
    </button>
    {% for key, value in STATUS_CHOICES.items %}
      <button 
        onclick="onSearchOrderByStatus('{{key}}')"
        class="text-uppercase lh-lg btn btn-pill {% if status != key %}btn-white{% endif %} {% if status == key %}btn-info{% endif %} px-5 py-2" type="button">
        {{value}}
      </button>
    {% endfor %}
  </div>
  <div class="card card-body border-0 shadow table-wrapper table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="border-gray-200">STT</th>
          <th class="border-gray-200">Mã đơn</th>
          <th class="border-gray-200">Người mua</th>
          <th class="border-gray-200">Bàn</th>
          <th class="border-gray-200">Loại đơn</th>
          <th class="border-gray-200">Trạng thái</th>
          <th class="border-gray-200">Thanh toán</th>
          <th class="border-gray-200">Giá(VNĐ)</th>
          <th class="border-gray-200">Thời gian đặt</th>
        </tr>
      </thead>
      <tbody>
        <!-- Items -->
        {% for index,order in data.items %}
          <tr onclick="">
            <td>
              <span class="fw-normal"> {{ index|add:data.from}}</span>
            </td>
            <td>
              <a href="{% url 'order_detail' %}?id={{order.id}}" class="fw-bold text-success"> {{order.store_operate.slug}}{{order.id}}</a>
            </td>
            <td>
              <a href="#" class="fw-bold">
                {{order.customer.username}} 
              </a>
            </td>
            <td>
              <a href="#" class="fw-bold">
                {{order.table.name}} 
              </a>
            </td>
            <td>
              <span class="fw-normal"> {{ORDER_TYPE_CHOICES|get_choices_field_label:order.order_type}}</span>
            </td>
            <td>
              <span class="p-2 rounded fw-normal {{ STATUS_CLASSES|get_choices_field_label:order.status }} text-white">
                {{ STATUS_CHOICES|get_choices_field_label:order.status }}
              </span>
            </td>
            <td><div class="form-check form-switch">
              {% if not order.is_paid %}
              <input class="form-check-input" type="checkbox" disabled>
              {% endif %}
              {% if order.is_paid %}
              <input class="form-check-input" type="checkbox" checked disabled>
              {% endif %}
            </div></td>
            <td>
              <span class="fw-normal fw-bold text-info"> {{ order.total|floatformat:"2g" }}</span>
            </td>
            <td>
              <span class="fw-normal"> {{ order.created_at }}</span>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="card-footer border-0 d-flex flex-lg-row justify-content-end">
      {% if data.total_page > 1 %}
        <nav aria-label="Page navigation">
          <ul class="pagination">
            {% if data.page_objects.has_previous %}
                <li class="page-item">
              <a class="page-link" href="?page={{ data.page_objects.previous_page_number }}&search={{data.params.search}}">Trước</a></li>
            {% else %}
                <li class="disabled"><span><i class="fa fa-chevron-left" aria-hidden="true"></i></span></li>
            {% endif %}
            
            {% if data.page_objects.number|add:'-4' > 1 %}
                <li class="page-item">
              <a class="page-link" href="?page={{ data.page_objects.number|add:'-5' }}&search={{data.params.search}}">&hellip;</a></li>
            {% endif %}
            
            {% for i in data.page_objects.paginator.page_range %}
                {% if data.page_objects.number == i %}
                    <li class="page-item active"><span class="page-link sr-only">{{ i }}</span></li>
                {% elif i > data.page_objects.number|add:'-3' and i < data.page_objects.number|add:'3' %}
                    <li class="page-item">
                      <a class="page-link" href="?page={{ i }}&search={{data.params.search}}">{{ i }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            
            {% if data.page_objects.paginator.num_pages > data.page_objects.number|add:'4' %}
                <li class="page-item">
              <a class="page-link" href="?page={{ data.page_objects.number|add:'5' }}&search={{data.params.search}}">&hellip;</a></li>
            {% endif %}
            
            {% if data.page_objects.has_next %}
                <li class="page-item">
              <a class="page-link" href="?page={{ data.page_objects.next_page_number }}&search={{data.params.search}}">Kế tiếp</a></li>
            {% endif %}
            
            </ul>
        </nav>
      {% endif %}
      {% if data.total == 0 %}
        <p class="m-auto mb-2">Không tìm thấy kết quả.</p>
      {% endif %}
    </div>
  </div>
{% endblock content %}

{% block extra_js %}
  <script>
    let queryString = window.location.search;
    let urlParams = new URLSearchParams(queryString);
    let statusFilter = urlParams.get('status') || ''
    function onSearchOrder() {
      const searchText = $('#search_customer').val()
      const status = statusFilter
      const is_paid = $('#is_paid_filter').val()
      const order_type = $('#order_type_filter').val()
      urlParams.set('search', searchText)
      urlParams.set('status', status)
      urlParams.set('is_paid', is_paid)
      urlParams.set('order_type', order_type)
      urlParams.set('page', 1)
      const path = window.location.pathname;
      window.location.assign(`?${urlParams.toString()}`)
    }
    function onSearchOrderByStatus (value) {
      statusFilter=value;
      onSearchOrder()
    }
  </script>
{% endblock %}