{% extends 'order-manager/layouts/base.html' %}
{% load static %}

{% block content %}

  <div id="category_manager" class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-2">
    <div class="d-block mb-4 mb-md-0">
      <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
        <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
          <li class="breadcrumb-item">
            <a href="{% url 'dashboard' %}">
              <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6">
                </path>
              </svg>
            </a>
          </li>
          <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Trang chủ</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{segment}}</li>
        </ol>
      </nav>
    </div>
    <div class="btn-toolbar mb-2 mb-md-0">
      <a href="{% url 'discount_package_add' %}" class="btn btn-primary d-inline-flex align-items-center">
        <svg class="icon icon-xs me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
        </svg>
        Thêm mới
      </a>
    </div>
  </div>
  <div class="table-settings mb-3">
    <div class="row align-items-center justify-content-between">
      <div class="col d-flex">
        <div class="input-group me-2 me-lg-3 fmxw-400">
          <span class="input-group-text">
            <svg class="icon icon-xs" x-description="Heroicon name: solid/search" xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd"
                d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                clip-rule="evenodd"></path>
            </svg>
          </span>
          <input id="search_package" type="text" class="form-control search-border-input" value="{{data.params.search}}" placeholder="Tìm kiếm gói">
        </div>
        <button onclick="onSearchPackage()" class="btn btn-outline-primary">Tìm kiếm</button>
      </div>
    </div>
  </div>
  <h2 class="h4 text-uppercase">Danh sách các gói giảm giá</h2>
  <p class="mb-2">Hiển thị kết quả từ {{data.from}} đến {{data.to}} trên tổng <strong class="text-primary">{{data.total}}</strong> kết quả.</p>
  <div class="card card-body border-0 shadow table-wrapper table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="border-gray-200">#</th>
          <th class="border-gray-200">Tên gói</th>
          <th class="border-gray-200">Gift code</th>
          <th class="border-gray-200">Mô tả</th>
          <th class="border-gray-200">Discount(%)</th>
          <th class="border-gray-200">Số lượng</th>
          <th class="border-gray-200">Còn lại</th>
          <th class="border-gray-200">Trạng thái</th>
          <th class="border-gray-200">Hành động</th>

        </tr>
      </thead>
      <tbody>
        <!-- Items -->
        {% for index, package in data.items %}
          <tr>
            <td>
              <span class="fw-normal"> {{ index|add:1}}</span>
            </td>
            <td>
              <a href="#" class="fw-bold">
                {{package.title}}
              </a>
            </td>
            <td>
              <span class="fw-bold text-success"> {{package.gift_code}}</span>
            </td>
            <td>
              <span class="fw-normal"> {{package.detail}}</span>
            </td>
            <td>
              <span class="fw-normal"> {{package.discount}}</span>
            </td>
            <td>
              <span class="fw-normal"> {{package.amount}}</span>
            </td>
            <td>
              <span class="fw-normal"> {{package.available}}</span>
            </td>
            <td><div class="form-check form-switch">
              {% if not package.is_active %}
              <input class="form-check-input" type="checkbox" disabled>
              {% endif %}
              {% if package.is_active %}
              <input class="form-check-input" type="checkbox" checked disabled>
              {% endif %}
            </div></td>
            <td>
              <a href="{% url 'discount_package_edit' %}?id={{package.id}}">
              <button class="btn btn-outline-primary" type="button">

                  Sửa
                </button>
              </a>
              <button class="btn btn-danger" 
              onclick="handleDeletePackage('{{package.id}}','{{package.gift_code}}')"
              type="button">
                Xóa
              </button>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="card-footer border-0 d-flex flex-lg-row justify-content-end">
      {% if data.total_page > 1 %}
        <nav aria-label="Page navigation">
          <ul class="pagination">
            {% if data.page_objects.has_previous %}
                <li class="page-item">
              <a class="page-link" href="?page={{ data.page_objects.previous_page_number }}&search={{data.params.search}}">Trước</a></li>
            {% else %}
                <li class="disabled"><span><i class="fa fa-chevron-left" aria-hidden="true"></i></span></li>
            {% endif %}
            
            {% if data.page_objects.number|add:'-4' > 1 %}
                <li class="page-item">
              <a class="page-link" href="?page={{ data.page_objects.number|add:'-5' }}&search={{data.params.search}}">&hellip;</a></li>
            {% endif %}
            
            {% for i in data.page_objects.paginator.page_range %}
                {% if data.page_objects.number == i %}
                    <li class="page-item active"><span class="page-link sr-only">{{ i }}</span></li>
                {% elif i > data.page_objects.number|add:'-3' and i < data.page_objects.number|add:'3' %}
                    <li class="page-item">
                      <a class="page-link" href="?page={{ i }}&search={{data.params.search}}">{{ i }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            
            {% if data.page_objects.paginator.num_pages > data.page_objects.number|add:'4' %}
                <li class="page-item">
              <a class="page-link" href="?page={{ data.page_objects.number|add:'5' }}&search={{data.params.search}}">&hellip;</a></li>
            {% endif %}
            
            {% if data.page_objects.has_next %}
                <li class="page-item">
              <a class="page-link" href="?page={{ data.page_objects.next_page_number }}&search={{data.params.search}}">Kế tiếp</a></li>
            {% endif %}
            
            </ul>
        </nav>
      {% endif %}
      {% if data.total == 0 %}
        <p class="m-auto mb-2">Không tìm thấy kết quả.</p>
      {% endif %}
    </div>
  </div>
{% endblock content %}

{% block extra_js %}
  <script>
    function onSearchPackage() {
      const queryString = window.location.search;
      const urlParams = new URLSearchParams(queryString);
      const searchText = $('#search_package').val()
      urlParams.set('search', searchText)
      urlParams.set('page', 1)
      const path = window.location.pathname;
      window.location.assign(`?${urlParams.toString()}`)
    }
    function handleDeletePackage (id, title) {
      swalWithBootstrapButtons.fire({
        icon: 'error',
        title: 'Xóa gói giảm giá',
        text: `Bạn chắc chắn muốn xóa gói giảm giá ${title}?`,
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Đồng ý'
      }).then((result) => {
        if (result.isConfirmed) {
          $.ajax({
              url: `/order-api/discount-packages/${id}`,
              type: 'DELETE',
              data: {},
              beforeSend: function(xhr) {
                  xhr.setRequestHeader("X-CSRFToken", "{{csrf_token}}");
              },
              contentType: 'application/json',
              dataType: 'text',
              success: function (result) {
                swalWithBootstrapButtons.fire(
                  { icon: 'success',
                    title: 'Xóa thành công',
                    text: 'Gói giảm giá của bạn đã được xóa thành công!',
                    showConfirmButton: true,
                  }
                )
                setTimeout(() => {
                  window.location.reload();
                }, 1000)
              },
              error: function (error) {
                notyf.open({
                  type: 'error',
                  message: 'Xảy ra lỗi, vui lòng thử lại.',
                  duration: 3000
                });
              }
          });
        }
      })
    }
  </script>
{% endblock %}