form label {
	width: fit-content !important;
}
.order-step {
  height: 70px;
  background: #c2c3ce;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 200px;
  padding-left: 45px;
  border-radius: 10px;
  color: #9E9E9E;
  position: relative;
}
.order-step::before {
  content: '';
  position: absolute;
  border-radius: 8px;
  inset: 2px;
  background: #fff;
  /* z-index: 1; */
  clip-path: polygon(90% 0, 100% 50%, 90% 100%, 0% 105%, 11% 50%, 1% 0%)
}
.order-step.step-1::before {
  clip-path: polygon(0% 0%, 90% 0, 100% 50%, 90% 100%, 0% 100%);
}
.order-step.pass {
  background: #2196F3;
  color: #1767e5;
}
.order-step.pass::before {
  background: #d4f2ff;
}
.order-step {
  clip-path: polygon(90% 0, 100% 50%, 90% 100%, 0% 100%, 10% 50%, 0% 0%);
}
.order-step.step-1 {
  clip-path: polygon(0% 0%, 90% 0, 100% 50%, 90% 100%, 0% 100%);
}
.order-step span,
.order-step svg {
  z-index: 1;
}

.product-list {
  max-height: 55vh;
  overflow: auto;
}

.product-list .product-item {
	display: flex;
	justify-content: space-between;
	gap: 8px;
	margin-bottom: 12px;
	box-shadow: 4px 4px 11px #9e9e9e69;
	padding: 4px;
	border-radius: 8px;
	border: solid 1px #2196F3;
	/* background: #0096881a; */
	color: #000;
}

 .product-list .product-item .thumbnail {
	width: 40%;
	min-width: 40%;
	height: 160px;
}

 .product-list .product-item .thumbnail img {
	height: 100%;
	/* height: 105px; */
	object-fit: cover;
	width: 100%;
	border-radius: 6px;
}

 .product-list .product-item .action button {
	background: none;
	border: none;
	width: 24px;
	height: 24px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin-top: 8px;
}

 .product-list .product-item .info {
	display: flex;
	flex-direction: column;
	gap: 4px;
	flex-grow: 1;
	height: 160px;
	position: relative;
}

 .product-list .product-item .info .title {
	font-size: 16px;
	font-weight: 600;
	margin-bottom: unset;
}

 .product-list .product-item .info .note,
 .product-list .product-item .info .quantity,
 .product-list .product-item .info .total {
	font-size: 14px;
	font-weight: 400;
}
#modal-select-product .items {
	max-height: 70vh;
	overflow: auto;
}


#processing {
  display: none;
}
#spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -40px;
  margin-left: -40px;
  height: 80px;
  width: 80px;
  background-color: transparent;
  border-radius: 50%;
  border: 5px solid #fff;
  border-top-color: #1e65c4;
  -webkit-animation: spin 1s ease-in-out infinite;
  animation: spin 1s ease-in-out infinite;
  z-index: 9999;
}
#processing .overlay {
  position: fixed;
  inset: 0;
  z-index: 999;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.errorlist {
  padding-left: 1.5rem;
  margin-top: 0.2rem;
  margin-bottom: 0;
}

.errorlist li {
  color: red;
  font-size: 12px;
}

.size-frame-image {
  width: 140px;
  height: 140px;
  background-color: #c2c3ce;
  overflow: hidden;
  border-radius: 6px;
}

.disable-btn {
  pointer-events: none;
  cursor: default;
  background-color: gray;
  border-color: gray;
}

.is-read {
  background-color: whitesmoke;
  color: gray;
}

.no-read {
  background-color: white;
  font-weight: bold;
}

.box-noti {
  border-bottom: 0.0625rem solid #E5E7EB;
}

.date-text-noti {
  font-style: italic;
  font-size: 12px;
  margin-bottom: 0 !important;
}

.msg-text-noti {
  color: black;
  font-size: 14px;
}

.count-noti {
  position: absolute;
  left: 34px;
  top: 5px;
  font-size: 10px;
  color: white;
  font-weight: bold;
  background: red;
  height: 18px;
  width: 18px;
  border-radius: 50%;
}

.scroll-load-more {
  overflow-y: scroll;
  max-height: 436px;
}

.search-border-input {
  border: 0.0625rem solid #D1D5DB !important; 
}