{% extends 'order-manager/layouts/base.html' %}
{% load static %}

{% block content %}
  <div id="table_manager" class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-2">
    <div class="d-block mb-4 mb-md-0">
      <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
        <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
          <li class="breadcrumb-item">
            <a href="{% url 'dashboard' %}">
              <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6">
                </path>
              </svg>
            </a>
          </li>
          <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Trang chủ</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{segment}}</li>
        </ol>
      </nav>
    </div>
    <div class="btn-toolbar mb-2 mb-md-0">
      <a href="{% url 'table_add' %}" class="btn btn-primary d-inline-flex align-items-center">
        <svg class="icon icon-xs me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
        </svg>
        Thêm mới
      </a>
    </div>
  </div>
  <div class="table-settings mb-3">
    <div class="row align-items-center justify-content-between">
      <div class="col d-flex">
        <div class="input-group me-2 me-lg-3 fmxw-400">
          <span class="input-group-text">
            <svg class="icon icon-xs" x-description="Heroicon name: solid/search" xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd"
                d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                clip-rule="evenodd"></path>
            </svg>
          </span>
          <input id="search_table " type="text" class="form-control search-border-input" value="{{data.params.search}}" placeholder="Tìm kiếm bàn">
        </div>
        <button onclick="onSearchTable()" class="btn btn-outline-primary">Tìm kiếm</button>
      </div>
    </div>
  </div>
  <h2 class="h4 text-uppercase">Danh sách bàn</h2>
  <p class="mb-2">Hiển thị kết quả từ {{data.from}} đến {{data.to}} trên tổng <strong class="text-primary">{{data.total}}</strong> kết quả.</p>
  <div class="card card-body border-0 shadow table-wrapper table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="border-gray-200">#</th>
          <th class="border-gray-200">Tên Bàn</th>
          <th class="border-gray-200">Khu vực</th>
          <th class="border-gray-200">Số ghế</th>
          <th class="border-gray-200">Số đơn</th>
          <th class="border-gray-200">Trạng thái</th>
          <th class="border-gray-200 text-center">Hành động</th>

        </tr>
      </thead>
      <tbody>
        <!-- Items -->
        {% for index, table in data.items %}
          <tr>
            <td>
              <span class="fw-normal"> {{ index|add:1}}</span>
            </td>
            <td>
              <a href="#" class="fw-bold">
                {{table.name}}
              </a>
            </td>
            <td>
              <a href="#" class="fw-bold">
                {{table.tables_area.name}}
              </a>
            </td>
            <td>
              <span class="fw-bold text-success"> {{table.number_of_chair}}</span>
            </td>
            <td>
              <span class="fw-bold text-success"> {{table.count_order}}</span>
            </td>
            <td>
              <div class="form-check form-switch">
                {% if not table.is_available %}
                <input class="form-check-input" type="checkbox" disabled>
                {% endif %}
                {% if table.is_available %}
                <input class="form-check-input" type="checkbox" checked disabled>
                {% endif %}
              </div>
            </td>
            <td class="d-flex align-items-center justify-content-center">
              <a href="{% url 'table_edit' %}?id={{table.id}}">
              <button class="btn btn-outline-primary" type="button">
                  Sửa
                </button>
              </a>
              <button class="btn btn-danger mx-1" 
              onclick="handleDeleteTable('{{table.id}}', '{{ table.name }}', '{{ table.count_order }}')"
              type="button">
                Xóa
              </button>
              <button class="btn btn-primary" 
              onclick="generateQrCode('{{store}}', '{{ table.id }}', '{{ table.name }}', '{{ host }}')"
              type="button" data-bs-toggle="modal" data-bs-target="#qr_modal">
                Tạo QR
              </button>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="card-footer border-0 d-flex flex-lg-row justify-content-end">
      {% if data.total_page > 1 %}
        <nav aria-label="Page navigation">
          <ul class="pagination">
            {% if data.page_objects.has_previous %}
                <li class="page-item">
              <a class="page-link" href="?page={{ data.page_objects.previous_page_number }}&search={{data.params.search}}">Trước</a></li>
            {% else %}
                <li class="disabled"><span><i class="fa fa-chevron-left" aria-hidden="true"></i></span></li>
            {% endif %}
            
            {% if data.page_objects.number|add:'-4' > 1 %}
                <li class="page-item">
              <a class="page-link" href="?page={{ data.page_objects.number|add:'-5' }}&search={{data.params.search}}">&hellip;</a></li>
            {% endif %}
            
            {% for i in data.page_objects.paginator.page_range %}
                {% if data.page_objects.number == i %}
                    <li class="page-item active"><span class="page-link sr-only">{{ i }}</span></li>
                {% elif i > data.page_objects.number|add:'-3' and i < data.page_objects.number|add:'3' %}
                    <li class="page-item">
                      <a class="page-link" href="?page={{ i }}&search={{data.params.search}}">{{ i }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            
            {% if data.page_objects.paginator.num_pages > data.page_objects.number|add:'4' %}
                <li class="page-item">
              <a class="page-link" href="?page={{ data.page_objects.number|add:'5' }}&search={{data.params.search}}">&hellip;</a></li>
            {% endif %}
            
            {% if data.page_objects.has_next %}
                <li class="page-item">
              <a class="page-link" href="?page={{ data.page_objects.next_page_number }}&search={{data.params.search}}">Kế tiếp</a></li>
            {% endif %}
            
            </ul>
        </nav>
      {% endif %}
      {% if data.total == 0 %}
        <p class="m-auto mb-2">Không tìm thấy kết quả.</p>
      {% endif %}
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="qr_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div class="text-center w-100 fs-4 text-dark" id="qr_modal_label"></div>
        </div>
        <div class="modal-body d-flex align-items-center justify-content-center" id = "qr_code_img">
          
        </div>
        <div class="modal-footer">
          <button type="button" style="width: 96px;" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button onclick="downloadQrCode()" style="width: 96px;" type="button" class="btn btn-primary">
            <a id="dowload_qr" href="" download> Dowload
            </a>
        </button>
        </div>
      </div>
    </div>
  </div>
  
{% endblock content %}

{% block extra_js %}
  <script>
   function onSearchTable() {
      const queryString = window.location.search;
      const urlParams = new URLSearchParams(queryString);
      const searchText = $('#search_table').val()
      urlParams.set('search', searchText)
      urlParams.set('page', 1)
      const path = window.location.pathname;
      window.location.assign(`?${urlParams.toString()}`)
    }
    function handleDeleteTable(id, name, countOrder) {
     if (countOrder == 0) {
      swalWithBootstrapButtons.fire({
        icon: 'error',
        title: 'Xóa bàn',
        text: `Bạn chắc chắn muốn xóa bàn ${name} không?`,
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Đồng ý'
      }).then((result) => {
        if (result.isConfirmed) {
          $.ajax({
              url: `/order-api/tables/${id}`,
              type: 'DELETE',
              data: {},
              beforeSend: function(xhr) {
                  xhr.setRequestHeader("X-CSRFToken", "{{csrf_token}}");
              },
              contentType: 'application/json',
              dataType: 'text',
              success: function (result) {
                swalWithBootstrapButtons.fire(
                  { icon: 'success',
                    title: 'Xóa thành công',
                    text: 'Loại sản phẩm của bạn đã được xóa thành công!',
                    showConfirmButton: true,
                  }
                )
                setTimeout(() => {
                  window.location.reload();
                }, 1000)
              },
              error: function (error) {
                notyf.open({
                  type: 'error',
                  message: 'Xảy ra lỗi, vui lòng thử lại.',
                  duration: 3000
                });
              }
          });
        }
      })
     } else {
      swalWithBootstrapButtons.fire({
        // icon: 'error',
        title: 'Thông báo',
        text: `Bàn đã được sử dụng, không thể xóa`,
        showCancelButton: false,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Thoát'
      })
     }
    }

    function generateQrCode(storeId, tableId,tableName, host) {
      $('#qr_code_img').html('')
      let labelQr = `Bàn ${tableName.toLowerCase()}`
      $('#qr_modal_label').html(labelQr)
      let url =  `${host}order-app/menu?store=${storeId}&table=${tableId}`
      var qrcode = new QRCode("qr_code_img", {
        text: url,
        width: 240,
        height: 240,
        colorDark : "#000000",
        colorLight : "#ffffff",
      });
    }

    function downloadQrCode() {
      let srcQr = $('#qr_code_img img').attr('src');
        if (srcQr) {
          $('#dowload_qr').attr("href", srcQr)
        }
    }
    
  </script>
{% endblock %}