{% extends 'order-manager/layouts/base.html' %}
{% load static %}

{% block content %}
  <div id="category_manager" class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-2">
    <div class="d-block mb-4 mb-md-0">
      <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
        <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
          <li class="breadcrumb-item">
            <a href="{% url 'dashboard' %}">
              <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6">
                </path>
              </svg>
            </a>
          </li>
          <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Trang chủ</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{segment}}</li>
        </ol>
      </nav>
    </div>
    <div class="d-flex">
      <div class="btn-toolbar mb-2 mb-md-0 mx-3">
        <a href="{% url 'category_add' %}?parent=0" class="btn btn-primary d-inline-flex align-items-center">
          <svg class="icon icon-xs me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
          </svg>
          Thêm nhóm
        </a>
      </div>
      <div class="btn-toolbar mb-2 mb-md-0">
        <a href="{% url 'category_add' %}?parent=1" 
        class="btn btn-primary d-inline-flex align-items-center {% if parentCount == 0 %} disable-btn{% endif %}">
          <svg class="icon icon-xs me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
          </svg>
          Thêm loại
        </a>
      </div>
    </div>
  </div>
   <!-- bảng loại sp -->
   <h2 class="h4 text-uppercase">Danh mục loại sản phẩm</h2>
   <div class="table-settings mb-3 mt-1">
     <div class="row align-items-center justify-content-between">
       <div class="col d-flex">
         <div class="col-md-3">
           <p>Tìm kiếm theo nhóm:</p>  
           <select onchange="onFilterGroup()" class="form-select mb-0" id="group" aria-label="Gender select example">
             <option value="" {% if group == "" %}selected{% endif %} >Tất cả</option>
             {% for category in parentCategories %}
                 <option {% if group == category.id|stringformat:"s" %}selected{% endif %} value="{{category.id}}">{{category.name}}</option>
             {% endfor %}
           </select>
         </div>
       </div>
     </div>
   </div>
   <p class="mb-2">Hiển thị kết quả từ {{dataHasParent.from}} đến {{dataHasParent.to}} trên tổng <strong class="text-primary">{{dataHasParent.total}}</strong> kết quả.</p>
   <div class="card card-body border-0 shadow table-wrapper table-responsive">
     <table class="table table-hover">
       <thead>
         <tr>
           <th class="border-gray-200">#</th>
           <th class="border-gray-200">Loại sản phẩm</th>
           <th class="border-gray-200">Nhóm sản phẩm</th>
           <th class="border-gray-200">Mã số</th>
           <th class="border-gray-200">Số sản phẩm</th>
           <th class="border-gray-200">Thao tác</th>
         </tr>
       </thead>
       <tbody>
         <!-- Items -->
         {% for index, category in dataHasParent.items %}
           <tr>
             <td>
               <span class="fw-normal"> {{ index|add:1}}</span>
             </td>
             <td>
               <a href="#" class="fw-bold">
                 {{category.name}}
               </a>
             </td>
             <td>
               <a href="#" class="fw-bold">
                 {{category.parent}}
               </a>
             </td>
             <td>
               <a href="#" class="fw-bold">
                 {{category.slug}}
               </a>
             </td>
             <td>
               <a href="#" class="fw-bold">
                 {{category.number_of_product}}
               </a>
             </td>
             <td>
               <a href="{% url 'category_edit' %}?id={{category.id}}&parent=1">
                 <button class="btn btn-outline-primary" type="button">Sửa</button>
               </a>
               <button class="btn btn-danger" 
               onclick="handleDeleteCategory('{{category.id}}','{{category.name}}', '{{category.number_of_product}}')"
               type="button">
                 Xóa
               </button>
             </td>
           </tr>
         {% endfor %}
       </tbody>
     </table>
     <div class="card-footer border-0 d-flex flex-lg-row justify-content-end">
       {% if data.total_page > 1 %}
         <nav aria-label="Page navigation">
           <ul class="pagination">
             {% if data.page_objects.has_previous %}
                 <li class="page-item">
               <a class="page-link" href="?page={{ data.page_objects.previous_page_number }}&search={{data.params.search}}">Trước</a></li>
             {% else %}
                 <li class="disabled"><span><i class="fa fa-chevron-left" aria-hidden="true"></i></span></li>
             {% endif %}
             
             {% if data.page_objects.number|add:'-4' > 1 %}
                 <li class="page-item">
               <a class="page-link" href="?page={{ data.page_objects.number|add:'-5' }}&search={{data.params.search}}">&hellip;</a></li>
             {% endif %}
             
             {% for i in data.page_objects.paginator.page_range %}
                 {% if data.page_objects.number == i %}
                     <li class="page-item active"><span class="page-link sr-only">{{ i }}</span></li>
                 {% elif i > data.page_objects.number|add:'-3' and i < data.page_objects.number|add:'3' %}
                     <li class="page-item">
                       <a class="page-link" href="?page={{ i }}&search={{data.params.search}}">{{ i }}</a>
                     </li>
                 {% endif %}
             {% endfor %}
             
             {% if data.page_objects.paginator.num_pages > data.page_objects.number|add:'4' %}
                 <li class="page-item">
               <a class="page-link" href="?page={{ data.page_objects.number|add:'5' }}&search={{data.params.search}}">&hellip;</a></li>
             {% endif %}
             
             {% if data.page_objects.has_next %}
                 <li class="page-item">
               <a class="page-link" href="?page={{ data.page_objects.next_page_number }}&search={{data.params.search}}">Kế tiếp</a></li>
             {% endif %}
             
             </ul>
         </nav>
       {% endif %}
       {% if data.total == 0 %}
         <p class="m-auto mb-2">Không tìm thấy kết quả.</p>
       {% endif %}
     </div>
   </div>
   <!-- nhóm sản phẩm -->
  <h2 class="h4 text-uppercase mt-4">Danh mục nhóm sản phẩm</h2>
  <p class="mb-2">Hiển thị kết quả từ {{data.from}} đến {{data.to}} trên tổng <strong class="text-primary">{{data.total}}</strong> kết quả.</p>
  <div class="card card-body border-0 shadow table-wrapper table-responsive w-50 mb-4">
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="border-gray-200">#</th>
          <th class="border-gray-200">Nhóm sản phẩm</th>
          <th class="border-gray-200">Mã số</th>
          <th class="border-gray-200">Thao tác</th>
        </tr>
      </thead>
      <tbody>
        <!-- Items -->
        {% for index, category in data.items %}
          <tr>
            <td>
              <span class="fw-normal"> {{ index|add:1}}</span>
            </td>
            <td>
              <a href="#" class="fw-bold">
                {{category.name}}
              </a>
            </td>
            <td>
              <a href="#" class="fw-bold">
                {{category.slug}}
              </a>
            </td>
            <td>
              <a href="{% url 'category_edit' %}?id={{category.id}}&parent=0">
                <button class="btn btn-outline-primary" type="button">Sửa</button>
              </a>
              <button class="btn btn-danger" 
              onclick="handleDeleteCategory('{{category.id}}','{{category.name}}','{{category.countChildren}}')"
              type="button">
                Xóa
              </button>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="card-footer border-0 d-flex flex-lg-row justify-content-end">
      {% if data.total_page > 1 %}
        <nav aria-label="Page navigation">
          <ul class="pagination">
            {% if data.page_objects.has_previous %}
                <li class="page-item">
              <a class="page-link" href="?page={{ data.page_objects.previous_page_number }}&search={{data.params.search}}">Trước</a></li>
            {% else %}
                <li class="disabled"><span><i class="fa fa-chevron-left" aria-hidden="true"></i></span></li>
            {% endif %}
            
            {% if data.page_objects.number|add:'-4' > 1 %}
                <li class="page-item">
              <a class="page-link" href="?page={{ data.page_objects.number|add:'-5' }}&search={{data.params.search}}">&hellip;</a></li>
            {% endif %}
            
            {% for i in data.page_objects.paginator.page_range %}
                {% if data.page_objects.number == i %}
                    <li class="page-item active"><span class="page-link sr-only">{{ i }}</span></li>
                {% elif i > data.page_objects.number|add:'-3' and i < data.page_objects.number|add:'3' %}
                    <li class="page-item">
                      <a class="page-link" href="?page={{ i }}&search={{data.params.search}}">{{ i }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            
            {% if data.page_objects.paginator.num_pages > data.page_objects.number|add:'4' %}
                <li class="page-item">
              <a class="page-link" href="?page={{ data.page_objects.number|add:'5' }}&search={{data.params.search}}">&hellip;</a></li>
            {% endif %}
            
            {% if data.page_objects.has_next %}
                <li class="page-item">
              <a class="page-link" href="?page={{ data.page_objects.next_page_number }}&search={{data.params.search}}">Kế tiếp</a></li>
            {% endif %}
            
            </ul>
        </nav>
      {% endif %}
      {% if data.total == 0 %}
        <p class="m-auto mb-2">Không tìm thấy kết quả.</p>
      {% endif %}
    </div>
  </div>
 
{% endblock content %}

{% block extra_js %}
  <script>
    function onFilterGroup() {
      const queryString = window.location.search;
      const urlParams = new URLSearchParams(queryString);
      const filterValue = $('#group').val()
      urlParams.set('group', filterValue)
      urlParams.set('page', 1)
      const path = window.location.pathname;
      window.location.assign(`?${urlParams.toString()}`)
    }
    function handleDeleteCategory (id, title, countChild) {
      console.log(countChild);
     if (countChild == 0) {
      swalWithBootstrapButtons.fire({
        icon: 'error',
        title: 'Xóa loại sản phẩm',
        text: `Bạn chắc chắn muốn xóa loại sản phẩm ${title}?`,
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Đồng ý'
      }).then((result) => {
        if (result.isConfirmed) {
          $.ajax({
              url: `/order-api/categories/${id}`,
              type: 'DELETE',
              data: {},
              beforeSend: function(xhr) {
                  xhr.setRequestHeader("X-CSRFToken", "{{csrf_token}}");
              },
              contentType: 'application/json',
              dataType: 'text',
              success: function (result) {
                swalWithBootstrapButtons.fire(
                  { icon: 'success',
                    title: 'Xóa thành công',
                    text: 'Loại sản phẩm của bạn đã được xóa thành công!',
                    showConfirmButton: true,
                  }
                )
                setTimeout(() => {
                  window.location.reload();
                }, 1000)
              },
              error: function (error) {
                notyf.open({
                  type: 'error',
                  message: 'Xảy ra lỗi, vui lòng thử lại.',
                  duration: 3000
                });
              }
          });
        }
      })
     } else {
      swalWithBootstrapButtons.fire({
        // icon: 'error',
        title: 'Thông báo',
        text: `Loại sản phẩm đã được sử dụng, không thể xóa`,
        showCancelButton: false,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Thoát'
      })
     }
    }
  </script>
  
{% endblock %}