{% extends 'order-app/base-site/base-side.html' %}
{% load static %}
{% block css_js_custom_head %}
<link rel="stylesheet" href="{% static 'order-app/css/notification.css' %}">
{% endblock %}
{% block app-container %}
{% csrf_token %}
<div class="app-container">
  <div id="app_header" class="header remove-margin">
    <div class="logo">
      <img src="/media/{{store.thumbnail}}" alt="">
      <span>{{store.name}}</span>
    </div>
    <div class="user">
      <span class="phone">{% if request.user.is_authenticated%}{{request.user.username}}{% endif %}</span>
      {% if not request.user.is_authenticated%}
        <img onclick="popupLogin()" src="{% static 'order-app/images/home/user.png' %}" alt="">
      {% endif %}
      {% if request.user.is_authenticated%}
        <img onclick="popupAccount('{{request.user.username}}')" src="{% static 'order-app/images/home/customer.png' %}" alt="">
      {% endif %}
    </div>
  </div>
  <div class="container-nofiy">
    <h3 class="text-center mb-3">Thông báo</h3>
    {% for item in items %}
     <div class="box-item">
        <label class="message mb-1">{{ item.message }}</label><br>
        <label class="code mb-1 fst-italic"><span class="fw-light">Mã đơn hàng: </span>
            {% if item.message == "Đơn hàng của bạn đã bị huỷ" %}
            <span class="text-danger">{{item.store_operate.slug}}{{ item.id_item }}</span>
            {% else %}
            <span class="text-success">{{item.store_operate.slug}}{{ item.id_item }}</span>
            {% endif %}
        </label><br>    
        <label class="time fst-italic"><span class="fw-light fst-italic">Thời gian: </span><span>{{item.updated_at | date:'Y-m-d, h:i a'}}</span></label>
     </div>
    {% endfor %}
    <div class="w-100 d-flex align-items-center justify-content-center">
        {% if not load %}
        <a class="mb-4" href="{% url 'notif' %}?store={{store.id}}&table={{table}}&more={{more}}">Xem thêm</a>
        {% endif %}
    </div>
  </div>
  
</div>
<div class="app-menu-container">
  <div class="app-menu">
  </div>
</div>
{% endblock %}
{% block js_custom_foot %}
<script></script>
{% endblock %}