{% extends 'order-app/base-site/base-side.html' %}
{% load static %}
{% block css_js_custom_head %}
<link rel="stylesheet" href="{% static 'order-app/css/place-orders.css' %}">
{% endblock %}
{% block app-container %}
<div class="app-container">
  <div id="app_header" class="header remove-margin">
    <div class="logo">
      <img src="/media/{{store.thumbnail}}" alt="">
      <span>{{store.name}}</span>
    </div>
    <div class="user">
      <span class="phone">{% if request.user.is_authenticated%}{{request.user.username}}{% endif %}</span>
      {% if not request.user.is_authenticated%}
        <img onclick="popupLogin()" src="{% static 'order-app/images/home/user.png' %}" alt="">
      {% endif %}
      {% if request.user.is_authenticated%}
        <img onclick="popupAccount('{{request.user.username}}')" src="{% static 'order-app/images/home/customer.png' %}" alt="">
      {% endif %}
    </div>
  </div>
  <div class="navigation-header remove-margin">
    <div style="display: flex; align-items: center; gap: 4px;">
      <img class="button" src="{% static 'order-app/images/home/order.png' %}" alt="">
      <span class="page-title">Đơn hàng của bạn</span>
    </div>
  </div>
  <div class="box-orders">
    <div class="header-table row g-0 rounded-top">
      <div class="col-2 justify-content-center">Mã</div>
      <div class="col-3 justify-content-center">Hình thức</div>
      <div class="col-4 justify-content-center">Ngày tạo</div>
      <div class="col-3">Trạng thái</div>
    </div>
    <div class="orders-items"></div>
    <div class="d-flex justify-content-center mt-3">
      <a href="{% url 'cart' %}?store={{store.id}}&table={{table}}">
        <button id="" class="btn btn-outline-primary">
          Xem giỏ hàng
          <img src="{% static 'order-app/images/home/akar-icons_cart.png' %}" alt="">
        </button>
      </a>
    </div>
  </div>
  <div id="order_detail_popup" class="modal popup-form"></div>
  <div id="confirm_cancel_order_popup" class="modal  popup-form">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-3">
          <h1 class="text-center font-weight-bold">Xác nhận</h1>
          <p class="fst-italic text-center fs-6 mb-2">Bạn xác nhận muốn hủy đơn hàng này?</p>
          <div class="row mb-1">
            <span class="col-12 text-center">Mã đơn hàng</span>
          </div>
          <div class="row mb-1 ">
            <span id="order_hash" class="col-12 fst-italic fw-bold fs-6 text-center"></span>
          </div>
          <div class="form-group mt-2">
            <div class="row">
              <div class="col-6" id="cancel_order_btn">
              </div>
              <div class="col-6">
                <a href="#" rel="modal:close">
                  <button class="btn btn-outline-primary btn-block">Không</button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="app-menu-container">
  <div class="app-menu">
  </div>
</div>
{% endblock %}
{% block js_custom_foot %}
<script src="{% static 'order-app/js/placeOrders.js'%}"></script>
{% endblock %}