{% extends 'order-app/base-site/base-side.html' %}
{% load static %}
{% block css_js_custom_head %}
<link rel="stylesheet" href="{% static 'order-app/css/your-cart.css' %}">
{% endblock %}
{% block app-container %}
{% csrf_token %}
<div class="app-container">
  <div id="app_header" class="header remove-margin">
    <div class="logo">
      <img src="/media/{{store.thumbnail}}" alt="">
      <span>{{store.name}}</span>
    </div>
    <div class="user">
      <span class="phone">{% if request.user.is_authenticated%}{{request.user.username}}{% endif %}</span>
      {% if not request.user.is_authenticated%}
        <img onclick="popupLogin()" src="{% static 'order-app/images/home/user.png' %}" alt="">
      {% endif %}
      {% if request.user.is_authenticated%}
        <img onclick="popupAccount('{{request.user.username}}')" src="{% static 'order-app/images/home/customer.png' %}" alt="">
      {% endif %}
    </div>
  </div>
  <div class="navigation-header remove-margin">
    <!-- <div class="back-btn" onclick="onBack()">
        <img class="button" src="images/detail/icon-back.png" alt="">
      </div> -->
    <div style="display: flex; align-items: center; gap: 4px;">
      <img class="button" src="{% static 'order-app/images/home/akar-icons_cart.png' %}" alt="">
      <span class="page-title">Your Cart</span>
    </div>
  </div>
  <div class="box-cart remove-margin animated fadeInUp">
    <div class="cart-items"></div>
  </div>
  <div class="btn-place-order animated fadeInUp">
    <button id="btn_place_order" class="btn-primary" onclick="handlePlaceOrder()">
      <span>Đặt hàng</span>
    </button>
  </div>
  <div id="place_order_popup" class="modal">
    <img src="{% static 'order-app/images/your-cart/success.png' %}" alt="">
    <div class="order-title text-done text-success"></div>
    <div class="text-center">
      <span class="">Mã đơn hàng:</span>
      <div class="d-inline-flex">
        <span class="order-hash">{{store.slug}}</span>
        <span class="order-hash order-id"></span>
      </div>
    </div>
    <div class="notice text-center fst-italic mt-2 fw-bold"></div>
    <a href="{% url 'place-orders' %}?store={{store.id}}&table={{table}}">
      <button id="btn_home_page" class="btn-primary">
        <span>Xem danh sách đơn</span>
      </button>
    </a>
  </div>
  <div id="order_popup" class="popup-form modal">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-3">
          <h1 class="text-center font-weight-bold">Đặt hàng</h1>
          <form class="form-horizontal">
            <div class="form-group mb-4" id="logged_phone">
              <label for="phone_number" class="control-label">Số điện thoại</label>
              <div class="">
                <input disabled type="phone" class="form-control" id="phone_number" placeholder="">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label">Chọn phương thức thanh toán</label>
              <div id="pay-method-groups">
                <div class="pay-method onboard selected" onclick="selectPayMethod('onboard')">
                  <img src="{% static 'order-app/images/your-cart/cash.jpg' %}" alt="">
                  <span>Thanh toán bằng tiền mặt</span>
                </div>
                <div class="pay-method online_pay" onclick="selectPayMethod('online_pay')">
                  <img src="{% static 'order-app/images/your-cart/momo.png' %}" alt="">
                  <span>Thanh toán bằng VNPay</span>
                </div>  
              </div>
            </div>
          </form>
          <div class="form-group">
            <div class="col-sm-offset-2">
              <button onclick="handlePay('{% if request.user.is_authenticated %}auth{% endif %}')" class="btn btn-primary btn-block">Thanh toán</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="app-menu-container">
  <div class="app-menu">
  </div>
</div>
{% endblock %}
{% block js_custom_foot %}
<!-- <script src="{% static 'order-app/js/placeOrders.js'%}"></script> -->
<script src="{% static 'order-app/js/cart.js'%}"></script>
{% endblock %}