{% extends 'order-manager/layouts/base.html' %}
{% load static %}

{% block content %}
  <div id="setting_manager" class="flex-column align-items-start py-2">
    <div class="d-block mb-4 mb-md-0">
      <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
        <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
          <li class="breadcrumb-item">
            <a href="{% url 'dashboard' %}">
              <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6">
                </path>
              </svg>
            </a>
          </li>
          <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Trang chủ</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{segment}}</li>
        </ol>
      </nav>
    </div>
    <h2 class="h4 mb-4 text-uppercase">Cấu hình kết nối</h2>
    <div class="row">
      <div class="col-12 col-md-5">
        <div class="p-4 bg-white rounded border-0 shadow mb-4 mb-xl-0">
          <div class="d-flex justify-content-between mb-4 align-items-center flex-wrap">
            <div class="h5">Thông tin cấu hình kết nối Cloud</div>
            <div class="d-flex align-items-center">
              <span id="ap_status_color" class="dot rounded-circle me-2" style="background: {{config.get_status_color}}"></span>
              <span id="ap_status_text" class="fw-normal small">{{config.STATUS_LABELS|get_choices_field_label:config.status}}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 mb-3">
              <div>
                <label for="ap_name">Access point name</label>
                <input disabled id="ap_name" type="text" class="form-control" value="{{config.name}}">
              </div>
            </div>
            <div class="col-md-12 mb-3">
              <div>
                <label for="connect_server">Server URl</label>
                <input {% if config.status == config.CONNECTED%}disabled{%endif%} id="connect_server" type="text" class="form-control" value="{{config.connect_server}}" placeholder="Nhập URl của server muôn kết nối">
              </div>
            </div>
            <div class="col-md-12 mb-3">
              <div>
                <label for="ip_address">Access point MAC address</label>
                <input id="ip_address" disabled type="text" class="form-control" value="{{config.ip_address}}">
              </div>
            </div>
          </div>
          <div class="">
            <label id="ap_login_message" class="flex items-center"></label>
          </div>

          <div class="mt-3 d-flex gap-2">
            {% if config.status not in 'connected, sync_completed, updating, update_failed'%}
              <button id="connect_cloud_btn" onclick="ap_request_connect_server()" class="btn btn-primary mt-2 animate-up-2">Kết nối đến Cloud</button>
            {%endif%} 
            {% if config.status in 'connected, sync_completed, updating, update_failed'%}
              <button id="connect_cloud_btn" onclick="ap_request_connect_server('true')" class="btn btn-danger mt-2 animate-up-2">Ngắt kết nối</button>
            {%endif%}
          </div>
        </div>
      </div>
      <div class="col-12 col-md-7">
        <div class="card card-body border-0 shadow mb-4 mb-xl-0">
          <div class="table-wrapper table-responsive bg-black" style="height: 600px;">
            <h5 class="text-lg font-bold mb-0 bg-white  pb-2" style="position: sticky;
            top: 0;
            left: 0;">Lịch sử hoạt động</h5>
            <table class="table table-hover table-dark" id="data-department">
              <thead>
                <tr>
                  <th class="border-gray-200">STT</th>
                  <th class="border-gray-200">Thời gian</th>
                  <th class="border-gray-200">Hành động</th>
                  <th class="border-gray-200">Kết quả</th>
                </tr>
              </thead>
              <tbody id="sync_logs">
                <!-- Items -->
                <!-- {% for sl in sync_logs %}
                    <tr class="{%if sl.result == sl.SUCCESS %}text-success{% endif %}{%if sl.result == sl.FAILED %}text-danger{%endif%}">
                      <td>
                        <span class="fw-bold"> {{ forloop.counter}}</span>
                      </td>
                      <td>
                        <span class="fw-bold"> {{ sl.updated_date|date:'Y-m-d H:i'}}</span>
                      </td>
                      <td>
                        <span class="fw-bold"> {{ sl.ACTION_LABELS|get_choices_field_label:sl.action}}</span>
                      </td>
                      <td>
                        <span class="fw-bold"> {{ sl.RESULTS_LABELS|get_choices_field_label:sl.result}}</span>
                      </td>
                    </tr>
                {% endfor %} -->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

{% block extra_js %}
  <script>
    $(document).ready(function () {
      on_update_ap_status();
      setInterval(function () {
          on_update_ap_status();
      }, 2000);

    });
    function on_update_ap_status() {
        var form_data = new FormData();
        form_data.append('csrfmiddlewaretoken', '{{ csrf_token }}');

        var request = $.ajax({
            url: '/ap-sync/rq-ap-status/',
            method: "POST",
            async: true,
            data: form_data,
            contentType: false,
            processData: false,
            dataType: "json"
        });

        request.done(function (response) {
            if (response.status) {
                $('#ap_status_color').css('background-color', response.data.status_color);
                $('#ap_status_text').text(response.data.status_title);
                renderSyncLogs(response.data.sync_logs)
            }
        });

        request.fail(function (jqXHR, status) {
            console.log(status);
        });
    }
    function renderSyncLogs (logs) {
      const htmlString = logs.map(log => `
      <tr class="${log.result_class}">
        <td>
          <span class="fw-bold">${log.index}</span>
        </td>
        <td>
          <span class="fw-bold">${new Date(log.updated_date).toLocaleString()}</span>
        </td>
        <td>
          <span class="fw-bold"> ${log.action}</span>
        </td>
        <td>
          <span class="fw-bold">${log.result}</span>
        </td>
      </tr>
      `).join('')
      $('#sync_logs').html(htmlString)
    }
    function ap_request_connect_server(disconnected='') {
      let apMacAddress = '{{ config.ip_address }}';
      $('#connect_cloud_btn').prop('disabled', true)
      $('#ap_login_message').html('<b class="text-primary">' +  `Đang ${disconnected? "hủy" : ''} kết nối đến cloud ...` + '</b>');
      var form_data = new FormData();
      form_data.append('csrfmiddlewaretoken', '{{ csrf_token }}');
      form_data.append('server', $('#connect_server').val());
      form_data.append('ip_address', apMacAddress);
      form_data.append('disconnected', Boolean(disconnected));

      var request = $.ajax({
          url: '/ap-sync/rq-ap-connect/',
          method: "POST",
          async: true,
          data: form_data,
          contentType: false,
          processData: false,
          dataType: "json"
      });

      request.done(function (response) {
        console.log('response.message',response.message);
          if (response.status) {
              $('#ap_login_message').html('<b style="color: green;">' + response.message + '</b>');
              setTimeout(function () {
                  location.reload();
              }, 1000);
          } else {
              $('#ap_login_message').html('<b style="color: red;">' + response.message + '</b>');
              $('#connect_cloud_btn').prop('disabled', false)
          }
      });
      request.fail(function (jqXHR, status) {
        alert(status);
        $('#connect_cloud_btn').prop('disabled', true)
      });
    }

  </script>
{% endblock%}