{% extends 'order-manager/layouts/base.html' %}
{% load static %}

{% block content %}
  <div id="access_point_detail" class="flex-column align-items-start py-2">
    <div class="d-block mb-4 mb-md-0">
      <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
        <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
          <li class="breadcrumb-item">
            <a href="{% url 'dashboard' %}">
              <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6">
                </path>
              </svg>
            </a>
          </li>
          <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Trang chủ</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{segment}}</li>
        </ol>
      </nav>
    </div>
    <h2 class="h4 mb-4 text-uppercase">Chi tiết Access point</h2>
    <div class="row">
      <div class="col-12 col-md-5">
        <div class="p-4 bg-white rounded border-0 shadow mb-4 mb-xl-0">
          <div class="d-flex justify-content-between mb-4 align-items-center">
            <div class="h5">Thông tin</div>
            <div class="d-flex align-items-center">
              <span id="ap_status_color" class="dot rounded-circle me-2" style="background: {{access_point_item.get_status_color}}"></span>
              <span id="ap_status_text" class="fw-normal small">{{access_point_item.STATUS_LABELS|get_choices_field_label:access_point_item.status}}</span>
            </div>
          </div>
          <form method="post" class="mt-4" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-12 mb-3">
                <div>
                  <label for="{{ form.name.id_for_label }}">{{form.name.label_tag }}<span style="color: red;">*</span></label>
                  {{ form.name }}
                </div>
              </div>
              <div class="col-md-12 mb-3">
                <div>
                  <label for="{{ form.ip_address.id_for_label }}">{{form.ip_address.label_tag }}<span style="color: red;">*</span></label>
                  {{ form.ip_address }}
                </div>
              </div>
              <div class="col-md-12 mb-3">
                <div>
                  <label for="{{ form.description.id_for_label }}">{{form.description.label_tag }}</label>
                  {{ form.description }}
                </div>
              </div>
              <div class="col-md-12 mb-3">
                <div class="d-flex gap-4">
                  <label for="">{{form.is_active.label_tag }}</label>
                  <div class="form-check form-switch">
                    {{ form.is_active }}
                  </div>
                </div>
              </div>
            </div>
            <label>(<span style="color: red;">*</span> <span style="font-style: italic; font-size: 14px;">Thông tin bắt buộc</span>)</label>
            <div class="d-flex justify-content-end mt-3">
              <a href="{% url 'access_points' %}">
                <div class="btn btn-outline-tertiary">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" style="height: 20px;" class="dropdown-icon me-2" fill="currentColor">
                    <path fill-rule="evenodd" d="M9.53 2.47a.75.75 0 010 1.06L4.81 8.25H15a6.75 6.75 0 010 13.5h-3a.75.75 0 010-1.5h3a5.25 5.25 0 100-10.5H4.81l4.72 4.72a.75.75 0 11-1.06 1.06l-6-6a.75.75 0 010-1.06l6-6a.75.75 0 011.06 0z" clip-rule="evenodd" />
                  </svg>
                    Trở lại
                  </div>
              </a>
              <button type="submit" class="btn btn-primary d-flex align-items-center mx-3">
                <svg style="height: 20px;" class="dropdown-icon text-white me-2" fill="white" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9 2a1 1 0 000 2h2a1 1 0 100-2H9z"></path>
                  <path fill-rule="evenodd" d="M4 5a2 2 0 012-2 3 3 0 003 3h2a3 3 0 003-3 2 2 0 012 2v11a2 2 0 01-2 2H6a2 2 0 01-2-2V5zm3 4a1 1 0 000 2h.01a1 1 0 100-2H7zm3 0a1 1 0 000 2h3a1 1 0 100-2h-3zm-3 4a1 1 0 100 2h.01a1 1 0 100-2H7zm3 0a1 1 0 100 2h3a1 1 0 100-2h-3z" clip-rule="evenodd"></path>
                </svg>
                Cập nhật
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-12 col-md-7">
        <div class="card card-body border-0 shadow mb-4 mb-xl-0 h-100">
          <div class="table-wrapper table-responsive bg-black" style="height: 600px;">
            <h5 class="text-lg font-bold mb-0 bg-white pb-2" style="position: sticky;
            top: 0;
            left: 0;">Lịch sử hoạt động</h5>
            <table class="table table-hover table-dark" id="data-department">
              <thead>
                <tr>
                  <th class="border-gray-200">STT</th>
                  <th class="border-gray-200">Thời gian</th>
                  <th class="border-gray-200">Hành động</th>
                  <th class="border-gray-200">Kết quả</th>
                </tr>
              </thead>
              <tbody id="sync_logs">
                <!-- Items -->
                {% for sl in ap_sync_logs %}
                    <tr class="{%if sl.result == sl.SUCCESS %}text-success{% endif %}{%if sl.result == sl.FAILED %}text-danger{%endif%}">
                      <td>
                        <span class="fw-bold"> {{ forloop.counter}}</span>
                      </td>
                      <td>
                        <span class="fw-bold"> {{ sl.updated_date|date:'Y-m-d H:i'}}</span>
                      </td>
                      <td>
                        <span class="fw-bold"> {{ sl.ACTION_LABELS|get_choices_field_label:sl.action}}</span>
                      </td>
                      <td>
                        <span class="fw-bold"> {{ sl.RESULTS_LABELS|get_choices_field_label:sl.result}}</span>
                      </td>
                    </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

{% block extra_js %}
  <script>
    const urlParams = new URLSearchParams(window.location.search);
    $(document).ready(function () {
      on_update_ap_status();
      setInterval(function () {
          on_update_ap_status();
      }, 4000);
    });
    function on_update_ap_status() {
        var form_data = new FormData();
        form_data.append('csrfmiddlewaretoken', '{{ csrf_token }}');
        form_data.append('id', urlParams.get('id'));

        var request = $.ajax({
            url: `/cloud-manager/rq-ap-status/`,
            method: "POST",
            async: true,
            data: form_data,
            contentType: false,
            processData: false,
            dataType: "json"
        });
        request.done(function (response) {
            if (response.status) {
                $('#ap_status_color').css('background-color', response.data.status_color);
                $('#ap_status_text').text(response.data.status);
                renderSyncLogs(response.data.sync_logs)
            }
        });
        request.fail(function (jqXHR, status) {
            console.log(status);
        });
    }
    function renderSyncLogs (logs) {
      const htmlString = logs.map(log => `
      <tr class="${log.result_class}">
        <td>
          <span class="fw-bold">${log.index}</span>
        </td>
        <td>
          <span class="fw-bold">${new Date(log.updated_date).toLocaleString()}</span>
        </td>
        <td>
          <span class="fw-bold"> ${log.action}</span>
        </td>
        <td>
          <span class="fw-bold">${log.result}</span>
        </td>
      </tr>
      `).join('')
      $('#sync_logs').html(htmlString)
    }
  </script>
{% endblock%}