{% extends 'order-manager/layouts/base.html' %}
{% load static %}

{% block content %}
  {% if messages %}
    {% for message in messages %}
    <span id="message" data-message="{{message}}">{{message}}</span>
    {% endfor %}
  {% endif %}
  <div id="setting_manager" class="flex-column align-items-start py-2">
    <div class="d-block mb-4 mb-md-0">
      <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
        <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
          <li class="breadcrumb-item">
            <a href="{% url 'dashboard' %}">
              <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6">
                </path>
              </svg>
            </a>
          </li>
          <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Trang chủ</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{segment}}</li>
        </ol>
      </nav>
    </div>
      <h2 class="h4 text-uppercase">Danh sách Access point</h2>
      <!-- <p class="mb-2">(Hiển thị kết quả từ {{data.from}} đến {{data.to}} trên tổng <strong class="text-primary">{{data.total}}</strong> kết quả).</p> -->
      <div class="mt-4">
        <div class="row row-cols-1 row-cols-md-3 row-cols-xl-4 g-3" id="access_points_list">
        </div>
      </div>
  </div>

{% endblock content %}

{% block extra_js %}
  <script>
    $(document).ready(function () {
        on_update_aps_status()
        setInterval(function () {
            on_update_aps_status();
        }, 4000);
    });
    function renderAccessPoints (aps) {
      const htmlString = aps.map(ap => `
      <div class="col">
        <a href="/cloud-manager/access-point-detail?id=${ap.id}">
          <div class="card shadow hover h-100 p-1">
              <svg style="
              color: ${ap.is_active ? ap.status_color: 'lightgray'}" class="card-img-top object-cover" width="100%" height="200px" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="M8.288 15.038a5.25 5.25 0 017.424 0M5.106 11.856c3.807-3.808 9.98-3.808 13.788 0M1.924 8.674c5.565-5.565 14.587-5.565 20.152 0M12.53 18.22l-.53.53-.53-.53a.75.75 0 011.06 0z" />
              </svg>
            <div class="card-body p-2">
              <div class="d-flex justify-content-end gap-2 align-items-center">
                <span class="${!ap.is_active && 'text-muted'} fst-italic fs-7" style="color: ${ap.is_active ? ap.status_color: 'unset'}">${ap.is_active? ap.status: 'Đã bị tắt'}</span>
                <span class="dot rounded-circle me-2" style="background: ${ap.is_active ? ap.status_color: 'lightgray'}"></span>
              </div>
              <h6 class="card-title text-truncate mt-1">${ap.name}</h6>
            </div>
          </div>
        </a>
      </div
      `).join('')
      $('#access_points_list').html(htmlString)
    }
    function on_update_aps_status() {
        var form_data = new FormData();
        form_data.append('csrfmiddlewaretoken', '{{ csrf_token }}');

        var request = $.ajax({
            url: '/cloud-manager/rq-aps-status/',
            method: "POST",
            async: true,
            data: form_data,
            contentType: false,
            processData: false,
            dataType: "json"
        });

        request.done(function (response) {
          if (response.status) {
              const access_points = response.data;
              renderAccessPoints(access_points)
            }
        });

        request.fail(function (jqXHR, status) {
            console.log(status);
        });
    }
  </script>
{% endblock%}