{% extends 'order-manager/layouts/base.html' %}
{% load static %}
{% block content %}

<!-- Section -->
<!-- {% if messages %}
  {% for message in messages %}
  <span id="message" data-message="{{message}}"></span>
  {% endfor %}
{% endif %} -->
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-2">
  <div class="d-block mb-4 mb-md-0">
    <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
      <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
        <li class="breadcrumb-item">
          <a href="{% url 'dashboard' %}">
            <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6">
              </path>
            </svg>
          </a>
        </li>
        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Trang chủ</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{segment}}</li>
      </ol>
    </nav>
  </div>
</div>
<section class="mt-5 mt-lg-0 bg-soft d-flex align-items-center">
  <div class="container-md px-0">
    <div class="mb-2 mt-md-0">
      <h2 class="h4 text-uppercase">Thêm mới sản phẩm</h2>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 d-flex align-items-center justify-content-center">
        <div class="bg-white shadow border-0 rounded border-light p-2 p-lg-3 w-100">
          <form method="post" class="mt-4" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- {{form}} -->
            {{ form.non_field_errors }}
            <div class="row">
              {{ form.store_operate }}
              <div class="col-md-6 mb-3">
                <div>
                  <label for="{{ form.title.id_for_label }}">Tên sản phẩm :  <span style="color: red;">*</span></label>
                  {{ form.title }}
                  {{ form.title.errors }}
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <div>
                  <label for="{{ form.category.id_for_label }}">Loại sản phẩm :  <span style="color: red;">*</span></label>
                  {{ form.category }}
                  {{ form.category.errors }}
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <div>
                  <label for="{{ form.price.id_for_label }}">Giá sản phẩm (VNĐ):  <span style="color: red;">*</span></label>
                  {{ form.price }}
                  {{ form.price.errors }}
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <div>
                  <label for="{{ form.discount.id_for_label }}">Giảm giá (%):</label>
                  {{ form.discount }}
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <div>
                  <label for="{{ form.detail.id_for_label }}">Mô tả sản phẩm:</label>
                  {{ form.detail }}
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <div class="d-flex flex-column">
                  <label for="{{ form.is_active.id_for_label }}">Trạng thái hoạt động</label>
                  <div class="form-check form-switch">
                    {{ form.is_active }}
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <label  class="form-label">Hình ảnh :  <span style="color: red;">*</span></label>
                <div class="d-flex align-items-center">
                  <div>
                    <div class="me-3 size-frame-image">
                      <img id="thumbnail_image" style="object-fit: cover;" src="/media/{{form.thumbnail.value}}" alt="change avatar">
                    </div>
                  </div>
                  <div class="file-field">
                    <div class="d-flex justify-content-xl-center ms-xl-3 border-dash">
                      <div class="d-flex">
                        <svg style="height: 64px;" class="icon text-gray-500 me-2" fill="currentColor" viewBox="0 0 20 20"
                          xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd"
                            d="M8 4a3 3 0 00-3 3v4a5 5 0 0010 0V7a1 1 0 112 0v4a7 7 0 11-14 0V7a5 5 0 0110 0v4a3 3 0 11-6 0V7a1 1 0 012 0v4a1 1 0 102 0V7a3 3 0 00-3-3z"
                            clip-rule="evenodd"></path> 
                        </svg>
                        {{ form.thumbnail }}
                        <div class="d-md-block text-left">
                          <div class="fw-normal text-dark mb-1">Choose Image</div>
                          <div class="text-gray small">JPG, GIF or PNG. Max size of 800K</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                {{ form.thumbnail.errors }}
              </div>
            </div>
            <div class="d-flex align-items-center justify-content-between gap-4 my-1">
              <label><span style="color: red;">*</span> <span style="font-style: italic; font-size: 14px;">Thông tin bắt buộc</span></label>
              <div class="d-flex justify-content-between gap-4 my-4">
                <a href="{% url 'products' %}">
                  <div class="btn btn-outline-tertiary">
                      Trở lại
                    </div>
                  </a>
                  <button type="submit" class="btn btn-primary d-flex align-items-center">
                    <svg style="height: 20px;" class="dropdown-icon text-white me-2" fill="white" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                      <path d="M9 2a1 1 0 000 2h2a1 1 0 100-2H9z"></path>
                      <path fill-rule="evenodd" d="M4 5a2 2 0 012-2 3 3 0 003 3h2a3 3 0 003-3 2 2 0 012 2v11a2 2 0 01-2 2H6a2 2 0 01-2-2V5zm3 4a1 1 0 000 2h.01a1 1 0 100-2H7zm3 0a1 1 0 000 2h3a1 1 0 100-2h-3zm-3 4a1 1 0 100 2h.01a1 1 0 100-2H7zm3 0a1 1 0 100 2h3a1 1 0 100-2h-3z" clip-rule="evenodd"></path>
                    </svg>
                    Lưu
                  </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
{% block extra_js %}
  <script>
    $(document).ready(function() {
      $("#id_thumbnail").val('');

      if(!($("#id_thumbnail")[0].files[0])) {
        console.log('test',$("#id_thumbnail")[0].files[0]);
        $('#thumbnail_image').hide();
      }
      // let src = $('.img1 img').attr('src');
      $('#id_thumbnail').change(function(e) {
        $('#thumbnail_image').attr('src', URL.createObjectURL(e.target.files[0]))
        $('#thumbnail_image').show();
      })
      // const messageText = $('#message').attr('data-message')
      // if (messageText) {
      //   notyf.open({
      //     type: 'success',
      //     message: messageText,
      //     duration: 3000
      //   });
      // }
      // $('#message').remove();
    })
  </script>
{% endblock%}