{% extends 'order-manager/layouts/base.html' %}
{% load static %}

{% block content %}
  <div id="product_manager" class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-2">
    <div class="d-block mb-4 mb-md-0">
      <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
        <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
          <li class="breadcrumb-item">
            <a href="{% url 'dashboard' %}">
              <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6">
                </path>
              </svg>
            </a>
          </li>
          <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Trang chủ</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{segment}}</li>
        </ol>
      </nav>
    </div>
    <div class="btn-toolbar mb-2 mb-md-0">
      <a href="{% url 'product_add' %}" class="btn btn-primary d-inline-flex align-items-center">
        <svg class="icon icon-xs me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
        </svg>
        Thêm mới
      </a>
    </div>
  </div>
  <div class="table-settings mb-2">
    <div class="row align-items-center justify-content-between">
      <div class="col-12 col-md-8 d-flex mb-2">
        <div class="row">
          <label class="col-12 mb-1">Tìm kiếm sản phẩm</label>
          <div class="input-group me-2 me-lg-3 fmxw-400">
            <span class="input-group-text">
            <svg class="icon icon-xs" x-description="Heroicon name: solid/search" xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd"
                d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                clip-rule="evenodd"></path>
              </svg>
            </span>
            <input id="search_product" type="text" class="form-control search-border-input" value="{{data.params.search}}" placeholder="Tìm kiếm sản phẩm">
            <button onclick="onSearchProduct()" class="btn btn-outline-primary search-border-input">Tìm kiếm</button>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <label for="category_filter">Loại sản phẩm</label>
        <select onchange="onSearchProduct()" class="form-select mb-0" id="category_filter" aria-label="Gender select example">
          <option value="" {% if category == "" %}selected{% endif %} >Tất cả</option>
          {% for item in categories %}
              <option {% if category == item.id|stringformat:"s" %}selected{% endif %} value="{{item.id}}">{{item.name}}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  </div>
  <h2 class="h4 text-uppercase">Danh sách sản phẩm</h2>
  <p class="mb-2">(Hiển thị kết quả từ {{data.from}} đến {{data.to}} trên tổng <strong class="text-primary">{{data.total}}</strong> kết quả).</p>
  <div class="mt-4">
    <div class="row row-cols-1 row-cols-md-4 row-cols-xl-6 g-3">
      {% for index, product in data.items %}
        <div class="col">
          <a href="{% url 'product_edit' %}?id={{product.id}}">
            <div class="card shadow hover h-100">
                <img class="card-img-top object-cover" height="150" alt="Product Image" src="/media/{{product.thumbnail}}" />
              <div class="card-body p-2">
                <h6 class="card-title text-truncate mb-0">{{product.title}}</h6>
                <div class="d-flex justify-content-between">
                  <span class="text-info fst-italic fs-7">{{product.category}}</span>
                  <span class="text-danger fw-bold fs-7 float-end">{{product.price|floatformat:"2g"}}</span>
                </div>
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
    <div class="card-footer border-0 d-flex flex-lg-row justify-content-end">
      {% if data.total_page > 1 %}
        <nav aria-label="Page navigation">
          <ul class="pagination">
            {% if data.page_objects.has_previous %}
                <li class="page-item">
              <a class="page-link" href="?page={{ data.page_objects.previous_page_number }}&search={{data.params.search}}">Trước</a></li>
            {% else %}
                <li class="disabled"><span><i class="fa fa-chevron-left" aria-hidden="true"></i></span></li>
            {% endif %}
            
            {% if data.page_objects.number|add:'-4' > 1 %}
                <li class="page-item">
              <a class="page-link" href="?page={{ data.page_objects.number|add:'-5' }}&search={{data.params.search}}">&hellip;</a></li>
            {% endif %}
            
            {% for i in data.page_objects.paginator.page_range %}
                {% if data.page_objects.number == i %}
                    <li class="page-item active"><span class="page-link sr-only">{{ i }}</span></li>
                {% elif i > data.page_objects.number|add:'-3' and i < data.page_objects.number|add:'3' %}
                    <li class="page-item">
                      <a class="page-link" href="?page={{ i }}&search={{data.params.search}}">{{ i }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            
            {% if data.page_objects.paginator.num_pages > data.page_objects.number|add:'4' %}
                <li class="page-item">
              <a class="page-link" href="?page={{ data.page_objects.number|add:'5' }}&search={{data.params.search}}">&hellip;</a></li>
            {% endif %}
            
            {% if data.page_objects.has_next %}
                <li class="page-item">
              <a class="page-link" href="?page={{ data.page_objects.next_page_number }}&search={{data.params.search}}">Kế tiếp</a></li>
            {% endif %}
            
            </ul>
        </nav>
      {% endif %}
      {% if data.total == 0 %}
        <p class="m-auto mb-2">Không tìm thấy kết quả.</p>
      {% endif %}
    </div>
{% endblock content %}

{% block extra_js %}
  <script>
    function onSearchProduct() {
      const queryString = window.location.search;
      const urlParams = new URLSearchParams(queryString);
      const searchText = $('#search_product').val()
      const category = $('#category_filter').val()
      urlParams.set('search', searchText)
      urlParams.set('category', category)
      urlParams.set('page', 1)
      const path = window.location.pathname;
      window.location.assign(`?${urlParams.toString()}`)
    }
  </script>
{% endblock %}