{% extends 'order-manager/layouts/base.html' %}
{% load static %}

{% block content %}
  {% if messages %}
    {% for message in messages %}
    <span id="message" data-message="{{message}}">{{message}}</span>
    {% endfor %}
  {% endif %}
  <div id="setting_manager" class="flex-column align-items-start py-2">
    <div class="d-block mb-4 mb-md-0">
      <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
        <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
          <li class="breadcrumb-item">
            <a href="{% url 'dashboard' %}">
              <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6">
                </path>
              </svg>
            </a>
          </li>
          <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Trang chủ</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{segment}}</li>
        </ol>
      </nav>
    </div>
      <h2 class="h4 mb-4 text-uppercase">Thông tin cửa hàng</h2>
      <div class="row">
        <div class="col-12 col-xl-8">
          <div class="card card-body border-0 shadow mb-4 mb-xl-0">
          <h2 class="h5 mb-4">Thông tin chung</h2>
          <form method="post" class="mt-4" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-6 mb-3">
                <div>
                  <label for="{{ form.name.id_for_label }}">Tên cửa hàng</label>
                  {{ form.name }}
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <div>
                  <label for="{{ form.created_date.id_for_label }}">Ngày tạo</label>
                  {{ form.created_date }}
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <div>
                  <label for="{{ form.slug.id_for_label }}">Mã cửa hàng</label>
                  {{ form.slug }}
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <div class="d-flex flex-column">
                  <label for="{{ form.is_active.id_for_label }}">Trạng thái hoạt động</label>
                  <div class="form-check form-switch">
                    {{ form.is_active }}
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <div>
                  <label for="{{ form.location.id_for_label }}">Địa chỉ</label>
                  {{ form.location }}
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <div>
                  <label for="{{ form.location.id_for_label }}">Mô tả</label>
                  {{ form.description }}
                </div>
              </div>
              <div class="mb-3">
                <label  class="form-label">Hình ảnh</label>
                <div class="d-flex align-items-center">
                  <div class="me-3">
                    <img id="thumbnail_image" style="object-fit: cover;" class="rounded avatar-xl objec" src="/media/{{form.thumbnail.value}}" alt="change avatar">
                  </div>
                  <div class="file-field">
                    <div class="d-flex justify-content-xl-center ms-xl-3 border-dash">
                      <div class="d-flex">
                        <svg style="height: 64px;" class="icon text-gray-500 me-2" fill="currentColor" viewBox="0 0 20 20"
                          xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd"
                            d="M8 4a3 3 0 00-3 3v4a5 5 0 0010 0V7a1 1 0 112 0v4a7 7 0 11-14 0V7a5 5 0 0110 0v4a3 3 0 11-6 0V7a1 1 0 012 0v4a1 1 0 102 0V7a3 3 0 00-3-3z"
                            clip-rule="evenodd"></path> 
                        </svg>
                        {{ form.thumbnail }}
                        <div class="d-md-block text-left">
                          <div class="fw-normal text-dark mb-1">Chọn hình ảnh</div>
                          <div class="text-gray small">JPG, GIF or PNG. Max size of 800K</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <h2 class="h5 my-4">Thông tin thanh toán</h2>
            <div class="row">
              <div class="col-sm-9 mb-3">
                <div class="form-group">
                  <label for="address">Địa chỉ</label>
                  <input class="form-control" id="address" type="text" placeholder="Enter your home address">
                </div>
              </div>
              <div class="col-sm-3 mb-3">
                <div class="form-group">
                  <label for="number">Số điện thoại</label>
                  <input class="form-control" id="number" type="number" placeholder="No.">
                </div>
              </div>
            </div>
            <div class="mt-3">
              <button class="btn btn-gray-800 mt-2 animate-up-2" type="submit">Lưu</button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-12 col-xl-4">
        <div class="card card-body border-0 shadow mb-4 h-100">
          <h2 class="h5 mb-4">Thông báo và tin nhắn</h2>
          <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex align-items-center justify-content-between px-0 border-bottom">
              <div>
                <h3 class="h6 mb-1">Company News</h3>
                <p class="small pe-4">Get Rocket news, announcements, and product updates</p>
              </div>
              <div>
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="user-notification-1">
                  <label class="form-check-label" for="user-notification-1"></label>
                </div>
              </div>
            </li>
            <li class="list-group-item d-flex align-items-center justify-content-between px-0 border-bottom">
              <div>
                <h3 class="h6 mb-1">Account Activity</h3>
                <p class="small pe-4">Get important notifications about you or activity you've missed</p>
              </div>
              <div>
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="user-notification-2" checked>
                  <label class="form-check-label" for="user-notification-2"></label>
                </div>
              </div>
            </li>
            <li class="list-group-item d-flex align-items-center justify-content-between px-0">
              <div>
                <h3 class="h6 mb-1">Meetups Near You</h3>
                <p class="small pe-4">Get an email when a Dribbble Meetup is posted close to my location</p>
              </div>
              <div>
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="user-notification-3" checked>
                  <label class="form-check-label" for="user-notification-3"></label>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      </div>
  </div>

{% endblock content %}

{% block extra_js %}
  <script>
    $(document).ready(function() {
      $("#id_thumbnail").val('');
      $('#id_thumbnail').change(function(e) {
        $('#thumbnail_image').attr('src', URL.createObjectURL(e.target.files[0]))
      })
    })
    $(document).ready(function() {
      const messageText = $('#message').attr('data-message')
      if (messageText) {
        notyf.open({
          type: 'success',
          message: messageText,
          duration: 3000
        });
      }
      $('#message').remove();
    })
  </script>
{% endblock%}