{% load static %}

<!-- Core -->
<script src="{% static 'js/jquery_3.2.1.js' %}"></script>
<script src="{% static 'order-manager/vendor/@popperjs/core/dist/umd/popper.min.js' %}"></script>
<script src="{% static 'order-manager/vendor/bootstrap/dist/js/bootstrap.min.js' %}"></script>

<!-- Vendor JS -->
<script src="{% static 'order-manager/vendor/onscreen/dist/on-screen.umd.min.js' %}"></script>

<!-- Slider -->
<script src="{% static 'order-manager/vendor/nouislider/dist/nouislider.min.js' %}"></script>

<!-- Smooth scroll -->
<script src="{% static 'order-manager/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js' %}"></script>

<!-- Charts -->
<script src="{% static 'order-manager/vendor/chartist/dist/chartist.min.js' %}"></script>
<script src="{% static 'order-manager/vendor/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js' %}"></script>

<!-- Datepicker -->
<script src="{% static 'order-manager/vendor/vanillajs-datepicker/dist/js/datepicker.min.js' %}"></script>

<!-- Sweet Alerts 2 -->
<script src="{% static 'order-manager/vendor/sweetalert2/dist/sweetalert2.all.min.js' %}"></script>

<!-- Moment JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>

<!-- Vanilla JS Datepicker -->
<script src="{% static 'order-manager/vendor/vanillajs-datepicker/dist/js/datepicker.min.js' %}"></script>

<!-- Notyf -->
<script src="{% static 'order-manager/vendor/notyf/notyf.min.js' %}"></script>

<!-- Simplebar -->
<script src="{% static 'order-manager/vendor/simplebar/dist/simplebar.min.js' %}"></script>

<!-- Github buttons -->
<script async defer src="https://buttons.github.io/buttons.js"></script>

<!-- Volt JS -->
<script src="{% static 'order-manager/assets/js/volt.js' %}"></script>
<script src="{% static 'order-manager/js/main.js' %}"></script>
<script src="{% static 'order-manager/js/qrcode/qrcode.min.js'%}"></script>
