html {
	height: auto;
	/* min-height: 100vh; */
	max-width: 100%;
	background: #f5f5f5;
	margin: 0 auto;
}

html,
* {
	box-sizing: border-box;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0 auto;
	position: relative;
	overflow-x: hidden;
	width: 100%;
	font-family: "Roboto", sans-serif;
	font-size: 12px;
	color: #000;
	/* background: transparent url("../images/home/bgr-footer.png") no-repeat; */
	/* background-size: 100% auto;
	background-position: center bottom; */
}

:focus {
	outline: 0 !important;
	text-decoration: blink !important;
}

a {
	color: #007aff;
	text-decoration: none;
}

a:hover {
	text-decoration: blink !important;
}

p {
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: #000;
}

strong {
	font-family: "Roboto", sans-serif;
}
.modal {
  height: fit-content;
}

.modal a.close-modal {
  top: 0;
  right: 0;
  background-color: #000;
}
.bg-primary {
  background-color: #de3905 !important;
}
.btn-primary {
	width: 100%;
	height: 48px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 16px;
	background: #de3905;
	border-radius: 10px;
	color: white;
	border: none;
	margin-top: 20px;
	text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
}

.btn-outline-primary {
  background-color: #fff;
  color: #de3905;
  border-color: #de3905;
  border-radius: 6px;
}

.btn-outline-primary:hover,
.btn-outline-primary:focus {
  background-color: #de3905;
  border-color: #de3905;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #de3905;
  border-color: #de3905;
}
#processing {
  display: none;
}
#spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -40px;
  margin-left: -40px;
  height: 80px;
  width: 80px;
  background-color: transparent;
  border-radius: 50%;
  border: 5px solid #fff;
  border-top-color: #de3905;
  -webkit-animation: spin 1s ease-in-out infinite;
  animation: spin 1s ease-in-out infinite;
  z-index: 10;
}
#processing .overlay {
  position: fixed;
  inset: 0;
  z-index: 999;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  max-width: 400px;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

input.otp-input {
  text-align: center;
}
.app-container {
	max-width: 400px;
	margin: auto;
	padding: 0 25px;
	background: #f5f5f5;
	display: flex;
	flex-direction: column;
	/* min-height: 100vh; */
	position: relative;
  padding-bottom: 60px;
}

.header {
	display: flex;
	justify-content: space-between;
	height: 60px;
	align-items: center;
	background: #df6751;
	color: #fff;
	padding: 0 25px;
	position: fixed;
	max-width: 400px;
	top: 0;
	z-index: 2;
	width: 100%;
}
.header .logo,
.header .user {
	display: flex;
	gap: 8px;
	align-items: center;
}
.header .logo span {
	font-size: 16px;
	font-weight: 700;
	color: #fff;
  width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}
.header .logo img {
	border: #fff solid 2px;
	border-radius: 9999px;
	width: 40px;
	height: 40px;
	object-fit: cover;
	
}
.header .user img {
	border: #fff solid 2px;
	border-radius: 9999px;
	width: 28px;
	height: 28px;
}
.header .user {
	font-size: 14px;
	font-weight: 600;
	color: #fff;
}
.header .user .phone {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.order-status {
	display: flex;
	justify-content: center;
	align-items: center;
	position: sticky;
	top: 0;
	background: #f5f5f5;
	z-index: 1;
	padding: 12px 25px;
	margin-bottom: -12px;
	margin-top: 0;
}

.navigation-header {
	width: unset;
	display: flex;
	justify-content: center;
	padding: 8px 0px;
	align-items: center;
	/* position: sticky; */
	/* top: 0;
	left: 0; */
	background: #f3f3fe;
  z-index: 1;
  margin-top: 64px;
}

.navigation-header img {
	height: 20px;
}

.navigation-header .page-title {
	font-size: 24px;
	font-weight: 600;
}

.navigation-header .back-btn {
	position: absolute;
	left: 0;
}

.navigation-header .back-btn img {
	height: 15px;
}

.flex-between {
	display: flex;
	justify-content: space-between;
}

.app-container .title {
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 14px;
}

.app-menu-container {
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 1;
}

.app-menu {
	width: 100%;
	max-width: 400px;
	margin: auto;
	background: #df6751;
	height: 60px;
	display: flex;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

.app-menu .wrapper {
	display: flex;
	width: 100%;
	list-style: none;
	justify-content: space-around;
	padding: 0;
	margin: 8px 0;
}

.app-menu .wrapper a {
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 44px;
	height: 44px;
}

.app-menu .wrapper a svg {
	fill: #fff;
	stroke: #fff;
}

.app-menu .wrapper a.active svg {
	fill: #FFC107;
	stroke: #FFC107;
}

.app-menu .wrapper a.active .title {
	color: #FFC107;
}

.app-menu .wrapper a img {
	width: 24px;
	height: 24px;
}

.app-menu .wrapper a .title {
	text-align: center;
	font-size: 12px;
	font-weight: 700;
}

.categories {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	gap: 8px;
}

.categories .ctg-item {
	height: 34px;
	background: #fff;
	border-radius: 9999px;
	color: rgba(23, 76, 79, 1);
	padding: 9px;
	box-shadow: 0px 4px 4px rgba(226, 205, 195, 0.25);
	font-weight: 600;
}

.categories .ctg-item.active {
	background: #ff9666;
	color: #fff;
}

.nav-box {
	position: fixed;
	max-width: 400px;
	/* top: 0; */
	width: 100%;
	background: #f5f5f5;
	z-index: 1;
	padding: 12px 25px;
	margin-bottom: -12px;
	margin-top: 0;
}

.nav-box {
	display: flex;
	justify-content: space-between;
	gap: 8px;
	align-items: center;
	/* padding: 0 25px; */
}

.nav-box .search {
	flex-grow: 1;
	height: 40px;
	position: relative;
}

.nav-box .search input {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	border: none;
	padding: 12px 36px;
}

.nav-box .search .icon-search {
	position: absolute;
	left: 0;
	padding: 12px;
}

.nav-box .search .icon-filter {
	position: absolute;
	right: 0;
	padding: 12px;
}

.nav-box .btn {
	padding: 6px;
  font-size: 14px;
}

.section_categories,
/* .banner, */
/* .nav-box, */
.order-status,
.section_popular_food,
.section_detail,
.section_popular_drink {
	margin-top: 16px;
	margin-bottom: 16px;
}

.remove-margin {
	margin-left: -25px;
	margin-right: -25px;
}

.jquery-modal.blocker {
	padding: 0;
  z-index: 9;
}
.order-item img {
	height: 100px;
	object-fit: cover;
	width: 100%;
	border-radius: 6px;
}

.popup-form {
  height: fit-content;
  padding: 15px !important;
  max-width: 400px !important;
}

.popup-form-note {
  height: fit-content;
  padding: 16px 8px  !important;
  max-width: 360px !important;
}

.popup-form-note h1 {
  border-bottom: solid 2px #de3905;
  padding-bottom: 8px;
  margin-bottom: 20px;
  font-size: 20px;
}

.popup-form h1 {
  border-bottom: solid 2px #de3905;
  padding-bottom: 8px;
  margin-bottom: 20px;
  font-size: 20px;
}
.popup-form .container {
  position: relative;
}

.popup-form .form-horizontal {
  position: relative;
  z-index: 1;
  /* background-color: #fff; */
  /* padding: 30px; */
  /* border-radius: 10px; */
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); */
}

.popup-form .form-horizontal:before {
  content: "";
  display: block;
  position: absolute;
  top: -20px;
  bottom: -20px;
  left: -20px;
  right: -20px;
  background: rgba(255, 255, 255, 0.2);
  z-index: -1;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.popup-form .form-group {
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.popup-form .control-label {
  font-weight: bold;
  color: #333;
}

.popup-form .form-control {
  height: 50px;
  border-radius: 25px;
  box-shadow: none;
  border: 1px solid #ccc;
  font-size: 16px;
  padding: 10px 20px;
  background-color: #f7f7f7;
  color: #333;
  width: 100%;
}

.popup-form .form-control:focus {
  border-color: #de3905;
  box-shadow: 0 0 10px rgba(208, 80, 12, 0.5);
}

.popup-form .btn-primary,
.popup-form .btn-outline-primary {
  background-color: #de3905;
  border-color: #de3905;
  border-radius: 25px;
  font-size: 14px;
  /* font-weight: bold; */
  padding: 10px 20px;
  width: 100%;
}
.popup-form .btn-outline-primary {
  background-color: #fff;
  color: #de3905;
  height: 48px;
  margin-top: 20px;
  text-transform: uppercase;
}
.popup-form .btn-primary:hover,
.popup-form .btn-outline-primary:hover {
  background-color: #de3905;
  border-color: #de3905;
}
.swiper .swiper-button-prev, .swiper .swiper-button-next {
	color: rgba(245, 130, 32, 1);
}
.swiper .swiper-pagination-bullet {
	width: 18px;
	height: 4px;
	border-radius: 2px;
}
.swiper .swiper-pagination-bullet-active{
	background: rgba(245, 130, 32, 1);
}



@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  2% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  4% {
    transform: translate(-6px, 0px) rotate(1deg);
  }

  6% {
    transform: translate(6px, 4px) rotate(0deg);
  }

  8% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  10% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
/* 
  12% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  14% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  16% {
    transform: translate(-3px, -3px) rotate(1deg);
  }

  18% {
    transform: translate(1px, 2px) rotate(0deg);
  } */

  100% {
    transform: none;
  }
}

.shake {
  -webkit-animation-name: shake;
  animation-name: shake;
  animation-iteration-count: infinite;
  animation-duration: 5s;
}
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -ms-transform: translateX(100px);
    transform: translateX(100px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
  @keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}