.container-nofiy {
    width: 100%;
    margin-top: 60px;
    padding: 16px 8px;
}

.container-nofiy .box-item {
    width: 100%;
    min-height: 80px;
    padding: 8px 16px;
    background-color: white;
    margin-bottom: 8px;
    border-radius: 8px;
    border-bottom: 0.0625rem solid #E5E7EB;
    box-shadow: 4px 4px 4px #888888;
}

.container-nofiy .box-item .message {
    font-size: 14px;
    color: black;
}